@import 'bourbon';
@import 'base/normalize';
@import 'neat';
@import 'base/base';
@import 'vendor/fa/font-awesome';

// components

// partials
@import 'partials/layout';


/* ===========================
 *  Generic Classes
 * =========================== */

.title {
  font-size: em(20);
}

.button {
  font-weight: bold;
  text-transform: uppercase;
  padding: 2px 5px;
  white-space: nowrap;
}

.response {
  margin-top: 12px;
  padding: 5px;
  background: #fafafa;
  font-size: em(14);
  border: 0;
  opacity: 0;

  &.error {
    border: 1px solid $light-red;
    opacity: 1;
    @include transition(opacity 500ms ease-in-out);
  }

  &.success {
    border: 1px solid $light-green;
    opacity: 1;
    @include transition(opacity 500ms ease-in-out);
  }
}

.branding {
  margin: 10px 0;
}

.logo {
  font-family: $brand-font;
  font-size: em(48);
  color: #ffffff;
  text-shadow: 1px 1px 0 $brand-dark;
  text-align: center;

  .version {
    font-size: em(4);
    color: white;
    padding: 3px;
    border-top-left-radius: 50%;
    border-bottom-right-radius: 50%;
    border-top-right-radius: 25%;
    text-shadow: 0 0 0;
    position: relative;
    bottom: em(25);
    right: em(10);
    background: $brand-color;
    font-family: $base-font-family;
  }
}

.desc {
  color: $medium-gray;
  margin: 0 10px;
}

@include media($tablet-screen-up) {
  ul .split {
    display: inline-block;
    width: 49.75%;
  }
}

/* ===========================
 *  Top Nav (mobile)
 * =========================== */
.top-bar {
  position: fixed;
  width: 100vw;
  z-index: 5;
  background: #111c32;

  a {
    padding: 10px;
    display: block;
  }

  li {
    display: inline-block;
  }

  .action-nav {
    float: left;
  }

  .notification-nav {
    float: right;
  }

  .back {
    display: none;
    background: white;
    color: #10131c;

    .cordova & {
      display: inline-block;
    }
  }

  .badge {
    background: none;
    top: 0;
    left: -65%;
  }
}


/**
 * App Menu
 */

#container {
  background: url('/images/background.jpeg') no-repeat;
  background-size: cover;
  background-attachment: fixed;
}

#menu {
  padding: 15px;
  border-right: 3px solid rgba(255, 255, 255, 0.35);

  a {
    display: block;
    padding: 3px 10px;

    font-size: em(13);
    font-weight: 500;
    letter-spacing: em(1);
    text-transform: uppercase;

    &:hover {
      color: #fff;
    }

  }

  .row {
    @include display(flex);

    > div {
      @include justify-content(center);
    }
  }

  .user-pages {
    margin: 10px 0;

    .row:last-of-type .button {
      border-top: 1px solid rgba(255, 255, 255, .1);
    }
    .row .button:last-of-type {
      border-left: 1px solid rgba(255, 255, 255, .1);
    }

    .button {
      width: 50%;
      height: 50px;
      line-height: 45px;
      background: rgba(255, 255, 255, .1);
      @include transition(background .25s ease-in-out);

      text-align: center;

      &:hover {
        background: rgba(255, 255, 255, .2);
        @include transition(background .25s ease-in-out);
      }
    }
  }

  .sign-in {
    @include display(flex);

    margin: 10px 0;
    text-align: center;
    li {
      width: 50%;
      @include justify-content(center);

      a {
        border: 1px solid white;
        font-size: em(13);
        font-weight: bold;
        padding: 5px 0;
      }
    }
  }

  .pages {
    margin: 30px 0;
  }
  .pages a {
    padding: 5px 0;
    margin-bottom: 10px;
    border-bottom: 1px solid rgba(255, 255, 255, .1);
    font-size: em(16);
    font-weight: 300;
    text-transform: capitalize;

    &:hover {
      border-bottom: 1px solid rgba(255, 255, 255, .35);
    }
  }
}

// end app menu


#page {
  background: #fff;
}

.page-head {
  padding: 7px 10px;
  background: #eee;

  .title {
    position: relative;
    color: #333F57;
    font-weight: normal;
    text-align: center;
    text-transform: none;

    i {
      position: absolute;
      left: 2px;
      top: 3px;
    }
  }
}

/* ===========================
 *  Notifications
 * =========================== */

#notifications {
  display: none;
  position: fixed;
  bottom: 5%;
  width: 100%;
  z-index: 100;
}

.notification {
  min-width: 270px;
  width: 75%;
  margin: 0 auto;
  background: rgba(50, 50, 50, .75);
  padding: 10px;
  border-radius: 5px;
  color: white;
  text-align: center;
}

/* ===========================
 *  Account / Profile Update
 * =========================== */

.view-profile {

  img {
    height: 55px;
    width: 55px;
    border-radius: 50%;
  }
}

.top-links {
  margin: 25px 0 20px;
  @include display(flex);
  @include align-items(center);
  @include justify-content(center);

  li {
    display: inline-block;
    vertical-align: bottom;
    margin-left: 10px;

    &:first-of-type {
      marign-left: 0;
    }

    .button {
      border: 1px solid #eee;
      font-size: em(12);
      padding: 5px 10px;
      color: $brand-blue;
      @include transition(border 200ms ease-in-out);

      &:hover {
        border: 1px solid $brand-blue;
        @include transition(border 400ms ease-in-out);
      }
    }
  }
}

.account-settings,
.profile-settings {

  h3 {
    background: #eee;
    font-weight: normal;
    padding: 5px;
    font-size: em(16);
    text-align: center;
  }

  .fields {
    padding: 15px;
  }

  #save-changes {
    width: 100%;
    border-radius: 0;
    background: #14B846;
    @include transition(background .25s ease-in-out);

    &:disabled {
      background: $light-gray;
    }
  }

  #delete-account {
    margin-right: 15px;
    padding: 8px 16px;
    background: $error-color;

    &:hover {
      background: darken($error-color, 10%);
    }

    + label {
      display: inline-block;
      .desc {
        margin: 0;
      }
    }
  }
}

.warning {
  color: $error-color;
}