@import 'bourbon';
@import 'base/normalize';
@import 'neat';
@import 'base/base';
@import 'vendor/fa/font-awesome';

// components

// partials
@import 'partials/layout';


/* ===========================
 *  Generic Classes
 * =========================== */

.title {
  font-size: em(20);
}

.button {
  font-weight: bold;
  text-transform: uppercase;
  padding: 2px 5px;
  white-space: nowrap;
}

.warning {
  color: $error-color;
}

.response {
  padding: 5px;
  background: #fafafa;
  font-size: em(14);
  border: 0;
  opacity: 0;
  text-align: center;

  &.error {
    border: 1px solid $light-red;
    opacity: 1;
    @include transition(opacity 500ms ease-in-out);
  }

  &.success {
    border: 1px solid $light-green;
    opacity: 1;
    @include transition(opacity 500ms ease-in-out);
  }
}

.branding {
  margin: 10px 0;
}

.logo {
  font-family: $brand-font;
  font-size: em(48);
  color: #ffffff;
  text-shadow: 1px 1px 0 $brand-dark;
  text-align: center;

  .version {
    font-size: em(4);
    color: white;
    padding: 3px;
    border-top-left-radius: 50%;
    border-bottom-right-radius: 50%;
    border-top-right-radius: 25%;
    text-shadow: 0 0 0;
    position: relative;
    bottom: em(25);
    right: em(10);
    background: $brand-color;
    font-family: $base-font-family;
  }
}

.desc {
  color: $medium-gray;
  margin: 0 10px;
}

@include media($tablet-screen-up) {
  ul .split {
    display: inline-block;
    width: 49.75%;
  }
}

/* ===========================
 *  Top Nav (mobile)
 * =========================== */
.top-bar {
  position: fixed;
  width: 100vw;
  z-index: 5;
  background: #111c32;

  a {
    padding: 10px;
    display: block;
  }

  li {
    display: inline-block;
  }

  .action-nav {
    float: left;
  }

  .notification-nav {
    float: right;
  }

  .back {
    display: none;
    background: #fafafa;
    color: #10131c;

    .cordova & {
      display: inline-block;
    }
  }

  .badge {
    background: none;
    top: 0;
    left: -65%;
  }
}


/**
 * App Menu
 */

#container {
  background: url('/images/background.jpeg') no-repeat;
  background-size: cover;
  background-attachment: fixed;
}

#menu {
  padding: 15px;
  border-right: 3px solid rgba(255, 255, 255, 0.35);

  a {
    display: block;
    padding: 3px 10px;

    font-size: em(13);
    font-weight: 500;
    letter-spacing: em(1);
    text-transform: uppercase;

    &:hover {
      color: #fff;
    }

  }

  .row {
    @include display(flex);

    .button {
      @include justify-content(center);
    }
  }

  .user-pages {
    margin: 10px 0;

    .row:last-of-type .button {
      border-top: 1px solid rgba(255, 255, 255, .1);
    }
    .row .button:last-of-type {
      border-left: 1px solid rgba(255, 255, 255, .1);
    }

    .button {
      width: 50%;
      height: 50px;
      line-height: 45px;
      background: rgba(255, 255, 255, .1);
      @include transition(background .25s ease-in-out);

      text-align: center;

      &:hover {
        background: rgba(255, 255, 255, .2);
        @include transition(background .25s ease-in-out);
      }
    }
  }

  .sign-in {
    @include display(flex);

    margin: 10px 0;
    text-align: center;
    li {
      width: 50%;
      @include justify-content(center);

      a {
        border: 1px solid white;
        font-size: em(13);
        font-weight: bold;
        padding: 5px 0;
      }
    }
  }

  .pages {
    margin: 30px 0;
  }
  .pages a {
    padding: 5px 0;
    margin-bottom: 10px;
    border-bottom: 1px solid rgba(255, 255, 255, .1);
    font-size: em(16);
    font-weight: 300;
    text-transform: capitalize;

    &:hover {
      border-bottom: 1px solid rgba(255, 255, 255, .35);
    }
  }
}

// end app menu


#page {
  background: #fff;
}

.page-head {
  position: relative;
  z-index: 10;
  height: 39px;
  padding: 7px 10px;
  background: linear-gradient(#fafafa, #e5e5e5);
  box-shadow: 0px 1px 2px rgba(50,50,50,.25);

  .title {
    position: relative;
    color: #333F57;
    font-weight: normal;
    text-align: center;
    text-transform: none;

    i {
      position: absolute;
      left: 2px;
      top: 3px;
    }
  }

  .messages-link {
    position: absolute;
    z-index: 5;
    left: 0;
    top: 0;
    padding: em(8) em(9);
    font-size: em(15);
    color: $brand-blue;

    i {
      float: left;
      font-size: em(20);
      padding: em(3) 0;
    }
    span {
      float: left;
      margin-left: 3px;
    }

    .fa-angle-left {
      font-weight: bold;
    }

    .messages-text {
      display: none;
    }

    @include media($tablet-screen-up) {
      .messages-text {
        display: block;
      }
      .envelope-btn {
        display: none;
      }
      i {
        font-size: em(15);
        padding: em(6) 0;
      }
    }
  }

  .message-with {
    text-align: center;
    font-weight: bold;

    img {
      height: 20px;
      position: relative;
      top: 4px;
      right: 5px;
    }

    a {
      color: $brand-blue;
    }
  }
}

/* ===========================
 *  Notifications
 * =========================== */

#notifications {
  display: none;
  position: fixed;
  bottom: 5%;
  width: 100%;
  z-index: 100;
}

.notification {
  min-width: 270px;
  width: 75%;
  margin: 0 auto;
  background: rgba(50, 50, 50, .75);
  padding: 10px;
  border-radius: 5px;
  color: white;
  text-align: center;
}

/* ===========================
 *  Account / Profile Update
 * =========================== */

.view-profile {

  img {
    height: 55px;
    width: 55px;
    border-radius: 50%;
  }
}

.top-links {
  margin: 25px 0 20px;
  @include display(flex);
  @include align-items(center);
  @include justify-content(center);

  li {
    display: inline-block;
    vertical-align: bottom;
    margin-left: 10px;

    &:first-of-type {
      marign-left: 0;
    }

    .button {
      border: 1px solid #eee;
      font-size: em(12);
      padding: 5px 10px;
      color: $brand-blue;
      @include transition(border 200ms ease-in-out);

      &:hover {
        border: 1px solid $brand-blue;
        @include transition(border 400ms ease-in-out);
      }
    }
  }
}

.account-settings,
.profile-settings {

  h3 {
    background: #eee;
    font-weight: normal;
    padding: 5px;
    font-size: em(16);
    text-align: center;
  }

  .fields {
    padding: 15px;
  }

  #save-changes {
    width: 100%;
    border-radius: 0;
    background: #14B846;
    @include transition(background .25s ease-in-out);

    &:disabled {
      background: $light-gray;
    }
  }

  #delete-account {
    margin-right: 15px;
    padding: 8px 16px;
    background: $error-color;

    &:hover {
      background: darken($error-color, 10%);
    }

    + label {
      display: inline-block;
      .desc {
        margin: 0;
      }
    }
  }
}

/* ===========================
 *  Messages
 * =========================== */

.thread-item {
  @include clearfix;
  @include display(flex);
  align-items: center;
  padding: 10px 0;
  border-bottom: 1px solid #eee;
  @include transition(background 200ms ease-in-out);

  &:hover {
    @include transition(background 200ms ease-in-out);
    background: #fcfcfc;
  }
}

.profile-picture {
  float: left;
  padding: 0 5px;
  width: 15%;
  height: auto;

  img {
    vertical-align: bottom;
    border-radius: 2px;
    width: 100%;
    height: 100%;
  }

  @include media($tablet-screen-up) {
    width: 10%;
    padding: 0 10px;
  }
}

.message-thread {
  float: left;
  padding: 0 5px;
  width: 55%;

  h4 {
    font-size: em(16);
  }

  p {
    font-size: em(11);
    margin-bottom: 0;
    color: $dark-gray;
    overflow: hidden;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;

    .unread & {
      font-weight: bold;
    }
  }

  .username {
    font-size: em(11);
    font-weight: bold;
    color: $dark-gray;
    text-transform: uppercase;
  }

  @include media($tablet-screen-up) {
    width: 60%;
    padding: 0 15px;

    h4 {
      font-size: em(20);
    }

    p {
      font-size: em(13);
    }
  }
}

.message-meta {
  float: left;
  width: 30%;
  padding: 0 5px;
  text-align: right;
  font-size: em(10);

  @include media($tablet-screen-up) {
    width: 25%;
  }
}

.new-messages {
  position: relative;
  height: 18px;
}

.message-badge {
  padding: 0 5px;
  border-radius: 2px;
  background: $brand-blue;
  font-size: em(18);
  font-weight: bold;
  text-align: center;
  vertical-align: middle;
  color: white;
  position: absolute;
  right: 10px;
  top: 0;
}

/* ===========================
 *  Message Thread
 * =========================== */

.messaging {
  @include calc(height, '100% - 45px');
}

.conversation {
  @include calc(height, '100% - 33px');
  overflow: hidden;
  background: linear-gradient(45deg, #f5f5f5 10%, #FFFFFF 90%);
  overflow-y: auto;
//  background: linear-gradient(45deg, rgba(183, 207, 224, 0.64) 10%, #eef2f3 90%); /* W3C */
}

.older-messages {
  width: 100%;
  font-weight: normal;
  background: rgba(75, 75, 75, 0.30);
  @include transition(background 200ms ease-in-out);

  &:hover {
    @include transition(background 200ms ease-in-out);
    background: rgba(75, 75, 75, 0.25);
  }
}

.message {
  @include clearfix;
  margin: em(15) 0 em(30);

  time {
    float: right;
    margin: 5px 0 4px 5px;
    font-size: em(12);
    color: $medium-gray;
  }

  &.to time {
    color: lighten($bubble-blue, 20)
  }

  .bubble {
    position: relative;
    display: inline-block;
    border-radius: em(20);
    margin: 0 10px;
    padding: 15px 20px;
    font-size: em(15);
    box-shadow: 1px 2px 5px rgba(60, 60, 60, .25);

    &:before {
      border-color: $bubble-blue;
      border-radius: 50% 50% 50% 50%;
      border-style: solid;
      border-width: 0 20px;
      bottom: 0;
      clip: rect(20px, 40px, 32px, 0px);
      content: " ";
      height: 30px;
      position: absolute;
      right: -50px;
      width: 30px;
      z-index: 1;
    }
  }

  &.to .bubble {
    float: right;
    background-color: $bubble-blue;
    color: #fff;
    margin-left: 10vw;
    box-shadow: -1px 2px 4px rgba(60, 60, 60, .20);


    &:before {
      right: em(-8);
    }
  }

  &.from .bubble {
    background-color: $bubble-grey;
    color: #363636;
    margin-right: 10vw;

    &:before {
      border-color: $bubble-grey;
      left: em(-8);
      transform: rotateY(180deg);
    }
  }
}



.message-input {
  position: fixed;
  bottom: 0;
  width: 100%;
  height: 39px;

  input[name="message"] {
    float: left;
    height: 39px;
    @include calc(width, '100% - 65px');
    margin-bottom: 0;
    border: 0;
    border-top: 1px solid #eee;
  }

  #send-message {
    background: $brand-blue;
    float: left;
    width: 65px;
    padding: em(14);
    font-weight: normal;
    font-size: em(15);
  }
}

.user-connection {
  display: inline-block;
  margin: em(.5) em(5) 0;
  height: 11px;
  width: 11px;
  border-radius: 50%;

  &.online {
    background: $success-color;
  }

  &.offline {
    background: $error-color;
  }

  &.away {
    background: $notice-color;
  }
}
