<template name="layout">
  <div id="container" class="{{menuOpen}} {{cordova}}">

    <nav class="top-bar mobile-only">
      <ul class="action-nav">
        <li><a class="button menu-toggle" href="#"><i class="fa fa-navicon fa-lg"></i></a></li>
        <li class="icon-logo">
          <img src="/images/bar_logo.png" alt=""/>
        </li>
      </ul>
      {{#if currentUser}}
      <ul class="notification-nav">
        <li>
          <a href="/notifications">
            <div class="badge-container">
              <span class="badge"> {{notificationCount}} </span>
              <i class="fa fa-bell-o fa-lg"></i>
            </div>
          </a>
        </li>
        <li>
          <a href="/messages">
            <div class="badge-container">
              <span class="badge"> {{messageNotificationCount}} </span>
              <i class="fa fa-envelope-o fa-lg"></i>
            </div>
          </a>
        </li>
      </ul>
      {{/if}}
    </nav>

    <main id="app">

      <section id="menu">
        <nav class="fixed">
          <section class="branding">
            <h1 class="logo">recoverize <span class="version">2.0</span></h1>
          </section>
          {{> menu }}
        </nav>
      </section>

      <div id="page-overlay"></div>

      <section id="page">
        {{> yield }}
      </section>

    </main>

    {{#unless connected}}
        <div class="notification-overlay">
            <div class="notification-content">
              <i class="fa fa-exclamation-triangle fa-lg"></i>
                <div class="content">
                    <div class="title-notification">Trying to connect...</div>
                    <div class="description">Check your internet connection</div>
                </div>
            </div>
        </div>
    {{/unless}}
  </div>
</template>