@import 'bourbon/bourbon';
@import 'base/normalize';
@import 'neat/neat';
@import 'base/base';
@import 'vendor/fa/font-awesome';

// components
@import 'components/badges';
@import 'components/modal';
@import 'components/notification';

// partials
@import 'partials/layout';
@import 'partials/splash';
@import 'partials/messaging';

/* ===========================
 *  Generic Classes
 * =========================== */

//input[type="text"]:focus,
//textarea:focus {
//  -webkit-text-size-adjust: 100%;
//  font-size: 15px;
//}

.overflow-scroll {
  overflow: hidden;
  overflow-y: scroll;
  -webkit-overflow-scrolling: touch;
}

.input-error {
  border: 1px solid red !important;
}

.at-mention {
  //  color: $secondary-blue;
  font-size: em(15);
  font-weight: bold;
}

.response {
  font-size: em(15);

  &.error {
    padding: em(10);

    &:before {
      font-family: FontAwesome;
      content: "\f071";
      margin-right: em(8);
      color: $error-color;
      font-size: em(12);
      position: relative;
      bottom: 1px;
    }
  }
}

.profile-img {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  margin-bottom: 10px;
}

#ban-user {
  background: $error-color;
  width: 100%;
  margin: em(25) 0;
}

.load-btn-container {
  padding: 20px 0;
}

#load-more {
  width: 100%;
  border-radius: 3px;
}

.help-link {
  background: rgba(255, 255, 255, .4) !important;
  padding: em(5) !important;
  letter-spacing: em(1);
}

.page-container {
  @extend .overflow-scroll;
  position: relative;
  height: 100%;
  background: $light-blue;
}

.text-input {
  float: left;
  height: 35px;
  @include calc(width, '100% - 60px');
  border: 0;
  font-size: em(15);
  letter-spacing: em(-.5);
  margin-bottom: 0;
  padding: em(7);
  background: #f5f5f5;
  resize: none;
}

.no-user {
  padding: 25px 0;
  text-align: center;
  h1 {
    font-weight: normal;
    letter-spacing: em(1);
    margin-bottom: 15px;
  }
  i {
    font-size: em(80);
    color: $brand-color;
  }
  a {
    color: #333;
    text-decoration: underline;
  }
}

.title {
  font-size: em(20);
}

.button {
  font-weight: bold;
  text-transform: uppercase;
  padding: 2px 5px;
  white-space: nowrap;
}

.btn {
  padding: em(4) em(8);
  background: white;
  color: $brand-blue;
  white-space: nowrap;
}

.warning {
  color: $error-color;
}

.capitalize {
  text-transform: capitalize;
}

.scroll {
  padding: 10px 0 0;
  width: 95%;
  margin: 0 auto;

  @include media($tablet-screen-up) {
    //@include calc(height, '100vh - 34px');
  }
}

//.response {
//  padding: 5px;
//  background: #fafafa;
//  font-size: em(14);
//  border: 0;
//  opacity: 0;
//  text-align: center;
//
//  &.error {
//    border: 1px solid $light-red;
//    opacity: 1;
//    @include transition(opacity 500ms ease-in-out);
//  }
//
//  &.success {
//    border: 1px solid $light-green;
//    opacity: 1;
//    @include transition(opacity 500ms ease-in-out);
//  }
//}

.branding {
  margin: 10px 0;
}

.logo {
  font-family: $brand-font;
  font-size: em(48);
  color: #ffffff;
  text-shadow: 1px 1px 0 $brand-dark;
  text-align: center;

  .version {
    font-size: em(4);
    color: white;
    padding: 3px;
    border-top-left-radius: 50%;
    border-bottom-right-radius: 50%;
    border-top-right-radius: 25%;
    text-shadow: 0 0 0;
    position: relative;
    bottom: em(25);
    right: em(10);
    background: $brand-color;
    font-family: $base-font-family;
  }
}

.desc {
  color: $medium-gray;
  margin: 0 10px;
}

@include media($tablet-screen-up) {
  ul .split {
    display: inline-block;
    width: 49.75%;
  }
}

/* ===========================
 *  Top Nav (mobile)
 * =========================== */
.top-bar {
  position: absolute;
  width: 100%;
  height: 50px;
  z-index: 5;

  a {
    padding: 13px 9px 13px 13px;
    display: block;
  }

  li {
    display: inline-block;
    vertical-align: center;
  }

  .icon-logo {
    img {
      position: relative;
      top: 10px;
      height: 26px;
    }
  }

  .branding {
    position: relative;
    top: em(1);
    font-family: $brand-font;
    line-height: em(16);
    text-shadow: 1px 1px 0 $brand-dark;
    color: white;
    margin: 0;

    .version {
      font-size: em(4);
      color: white;
      padding: 3px;
      border-top-left-radius: 50%;
      border-bottom-right-radius: 50%;
      border-top-right-radius: 25%;
      text-shadow: 0 0 0;
      position: relative;
      bottom: em(10);
      right: em(5);
      background: $brand-color;
      font-family: $base-font-family;
    }
  }

  .menu-toggle {
    color:#477dca;
  }

  .action-nav {
    float: left;
  }

  .notification-nav {
    float: right;

    i {
      font-size: em(24);
    }
  }

  .notification-button {
    .badge {
      top: -5px;
      left: -15px;
    }
  }

  .back {
    display: none;
    background: #fafafa;
    color: #10131c;

    .cordova & {
      display: inline-block;
    }
  }


  .badge {
    top: -5px;
    left: -70%;
  }
}


/**
 * App Menu
 */

#container {
  background: url('/images/background.jpeg') no-repeat;
  background-size: cover;
  background-attachment: fixed;
}

#menu {
  padding: 15px;

  @include media($tablet-screen-down) {
    border-top: 2px solid $base-link-color;
    background: darken($base-link-color, 20);

    .branding {
      display: none;
    }
  }

  .fixed {
    width: 100%;
    height: 100%;
  }

  .user {
    margin-bottom: 15px;
  }

  a {
    display: block;
    padding: 3px 10px;

    font-size: em(13);
    font-weight: 500;
    letter-spacing: em(1);
    text-transform: uppercase;

    &:hover {
      color: #fff;
    }

  }

  .row {
    @include display(flex);

    .button {
      @include justify-content(center);
    }
  }

  .user-pages {
    margin: 10px 0;

    .row:last-of-type .button {
      border-top: 1px solid rgba(255, 255, 255, .1);
    }
    .row .button:last-of-type {
      border-left: 1px solid rgba(255, 255, 255, .1);
    }

    .button {
      width: 50%;
      height: 50px;
      line-height: 45px;
      background: rgba(255, 255, 255, .035);
      @include transition(background .25s ease-in-out);

      text-align: center;

      a {
        color: white;
      }

      &:hover {
        background: rgba(255, 255, 255, .2);
        @include transition(background .25s ease-in-out);
      }
    }
  }

  .sign-in {
    @include display(flex);

    margin: 10px 0;
    text-align: center;
    li {
      width: 50%;
      @include justify-content(center);

      a {
        color: white;
        border: 1px solid white;
        font-size: em(13);
        font-weight: bold;
        padding: 5px 0;
      }
    }
  }

  .pages {
    padding: 15px 0;
  }
  .pages a {
    color: white;
    padding: 5px 0;
    margin-bottom: 13px;
    border-bottom: 1px solid rgba(255, 255, 255, .1);
    font-size: em(17);
    font-weight: 500;
    text-transform: capitalize;

    &:before {
      font-family: FontAwesome;
      margin-right: 10px;
      color: rgba(255, 255, 255, .5);
      display: inline-block;
      width: 23px;
      text-align: center;
    }

    &.icon-dash {
      &:before {
        content: '\f015';
      }
    }

    &.icon-timeline {
      &:before {
        content: '\f1ea';
      }
    }

    &.icon-chat {
      &:before {
        content: '\f0e6';
      }
    }

    &.icon-members {
      &:before {
        content: '\f0c0';
      }
    }

    &.icon-readings {
      &:before {
        content: '\f02d';
      }
    }

    &.icon-checklist {
      &:before {
        content: '\f022';
      }
    }

    &.icon-tapes {
      &:before {
        content: '\f215';
      }
    }

    &.icon-stories {
      &:before {
        content: '\f0f6';
      }
    }

    &.icon-logout {
      &:before {
        content: '\f08b';
      }
    }

    &.icon-help {
      &:before {
        content: '\f119';
      }
    }

    &.icon-settings {
      &:before {
        content: '\f085';
      }
    }

    &.icon-plus {
      &:before {
        content: '\f067';
      }
    }

    &:hover,
    &:active {
      @include transition(all 600ms linear);
      border-bottom: 1px solid rgba(255, 255, 255, .8);

      &:before {
        color: rgba(255, 255, 255, .8);
        @include transition(all 600ms linear);
      }
    }

  }
}

// end app menu


#page {
  //  background: #fff;
}

.page-head {
  position: relative;
  z-index: 10;
  height: 36px;
  padding: 5px 10px;
  background: $light-blue;
  color: $brand-blue;
  border-bottom: 1px solid darken($light-blue, 7);

  //  background: linear-gradient(#fafafa, #e5e5e5);
  //  box-shadow: 0px 1px 2px rgba(50,50,50,.25);

  .title {
    position: relative;
    //    color: #333F57;
    font-weight: normal;
    text-align: center;
    font-size: em(18);
    letter-spacing: 1px;
    text-transform: none;
    vertical-align: middle;

    i {
      position: absolute;
      left: 2px;
      top: 3px;
      font-size: em(18);
    }
  }

  .messages-link {
    position: absolute;
    z-index: 5;
    left: 0;
    top: 0;
    padding: 3px 6px;
    font-size: em(18);
    color: $brand-blue;

    i {
      float: left;
      font-size: em(18);
      padding: em(3) 0;
    }
    span {
      float: left;
      margin-left: 3px;
    }

    .fa-angle-left {
      font-weight: bold;
    }

    .messages-text {
      display: none;
    }

    @include media($tablet-screen-up) {
      .messages-text {
        display: block;
      }
      .envelope-btn {
        display: none;
      }
      i {
        font-size: em(15);
        padding: em(6) 0;
      }
    }
  }

  .message-with {
    @include display(flex);
    @include align-items(center);
    @include justify-content(center);
    position: static;
    width: 100%;
    height: 100%;
    font-weight: bold;
    letter-spacing: 0;
    //position: relative;
    //bottom: 3px;

    .profile-picture {
      width: 24px;
      height: 24px;
      float: left;
      margin-right: 7px;
      border-radius: 2px;
      background-position: center;
      background-size: cover;
    }

    a {
      color: $brand-blue;
    }
  }
}

/* ===========================
 *  Notifications
 * =========================== */

#notifications {
  display: none;
  position: fixed;
  bottom: 5%;
  width: 100%;
  z-index: 100;
}

.notification {
  min-width: 270px;
  width: 95%;
  margin: 0 auto;
  background: rgba(50, 50, 50, .75);
  padding: 10px;
  border-radius: 5px;
  color: white;
  text-align: center;
}

/* ===========================
 *  Loading Screen
 * =========================== */

#loading {
  @include display(flex);
  @include align-items(center);
  @include justify-content(center);
  //@include texture(180deg, $secondary-blue, lighten($secondary-blue, 23), 82, 1);

  h1 {
    font-weight: 300;
    color: white;
  }
}

/* ===========================
 *  Account / Profile Update
 * =========================== */

.view-profile {

  .profile-img {
    width: 75px;
    height: 75px;
    background-size: cover;
    background-position: center;
  }
  img {
    height: 75px;
    width: 75px;
    border-radius: 2px;
  }
}

.top-links {
  padding: 25px 0 20px;
  margin-bottom: 40px;
  @include display(flex);
  @include align-items(center);
  @include justify-content(center);
  @include texture(180deg, $secondary-blue,lighten($secondary-blue, 15), 83, 1);
  border-bottom: 2px solid #ddd;

  li {
    display: inline-block;
    vertical-align: bottom;
    margin-left: 10px;

    &:first-of-type {
      marign-left: 0;
    }

    .button {
      border: 1px solid #eee;
      font-size: em(12);
      padding: 5px 10px;
      color: white;

      &:hover {
      }
    }
  }

  h2 {
    font-weight: normal;
    font-size: em(18);
    text-align: left;
    margin-bottom: em(10);

    a {
      color: white;
    }
  }
}


.account-settings,
.profile-settings {

  h3 {
    background: $light-blue;
    font-weight: normal;
    padding: 5px;
    font-size: em(13);
    text-align: center;
  }

  .fields {
    padding: 10px;

    li {
      margin-bottom: em(25);
    }
    input, select, textarea {
      margin-bottom: 0;
      background: #ffffff;
      border: 1px solid #f5f5f5;
      border: 0;
      color: $dark-gray;
      resize: none;
      font-size: em(15);

      &:disabled {
        color: $medium-gray;
      }
    }
  }

  .profile-img {
    height: 125px;
    width: 125px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
  }

  .profile-picture-link {
    display: block;
    padding: 7px;
    font-size: em(15);
    background: #f5f5f5;
  }

  #save-changes {
    width: 100%;
    border-radius: 0;
    background: #14B846;
    @include transition(all .25s ease-in-out);

    &:disabled {
      background: #f5f5f5;
      color: $medium-gray;
    }
  }

  #delete-account {
    margin-right: 15px;
    padding: 8px 16px;
    background: $error-color;

    &:hover {
      background: darken($error-color, 10%);
    }

    + label {
      display: inline-block;
      .desc {
        margin: 0;
      }
    }
  }

  #cordova-upload {
    background: #f5f5f5;
    padding: em(8);

    button {
      padding: em(6) em(12);
    }

    .file-name {
      font-size: em(14);
      padding: em(5);
    }
  }
}

.profile-settings {

  .avatar-preview {
    margin: em(8) 0 em(4);
    width: 100px;
    height: 100px;
  }
  input[type=file] {
    padding: em(11);
    background: #f5f5f5;
    font-size: em(13);
  }

}

/* ===========================
 *  Messages
 * =========================== */

.no-messages {
  @include display(flex);
  @include align-items(center);
  @include justify-content(center);
  @include calc(height, '100vh - 77px');
  @include texture(180deg, lighten($secondary-blue, 15), $secondary-blue, 82, 1);

  color: white;
  text-align: center;

  h2 {
    font-weight: normal;
  }

  @include media($tablet-screen-up) {
    @include calc(height, '100vh - 34px');
  }

  h2 {
    margin-bottom: em(10);
  }

  a {
    font-weight: bold;
    color: white;
    border-bottom: 1px dotted white;
  }
}

.thread-item {
  @include clearfix;
  @include display(flex);
  @include align-items(center);
  background: white;
  padding: 12px 5px;
  border-bottom: 1px solid $light-blue;
  @include transition(background 200ms ease-in-out);

  &:hover {
    @include transition(background 200ms ease-in-out);
    background: $light-blue;
  }

  .profile-picture {
    float: left;
    padding: 0 5px;
    height: 45px;
    width: 45px;
    border-radius: 2px;
    background-size: cover;
    background-position: center;

    //img {
    //  vertical-align: bottom;
    //  border-radius: 3px;
    //  width: 100%;
    //  height: 100%;
    //}

    @include media($tablet-screen-up) {
      padding: 0 10px;
      height: 75px;
      width: 75px;
    }
  }
}


.message-thread {
  float: left;
  padding: 0 10px;
  width: 60%;

  h4 {
    font-size: em(18);
  }

  p {
    font-size: em(16);
    margin-bottom: 0;
    color: $dark-gray;
    overflow: hidden;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;

    .unread & {
      font-weight: bold;
    }
  }

  .username {
    font-size: em(11);
    font-weight: bold;
    color: $dark-gray;
    text-transform: uppercase;
  }

  @include media($tablet-screen-up) {
    width: 60%;
    padding: 0 15px;

    h4 {
      font-size: em(21);
    }

    p {
      font-size: em(15);
    }
  }
}

.message-meta {
  float: left;
  width: 25%;
  padding: 0 5px;
  text-align: right;
  font-size: em(12);
  color: #777;

  @include media($tablet-screen-up) {
    width: 25%;
  }
}

.new-messages {
  position: relative;
  height: 18px;
}

.message-badge {
  padding: 0 5px;
  border-radius: 2px;
  background: $brand-blue;
  font-size: em(18);
  font-weight: bold;
  text-align: center;
  vertical-align: middle;
  color: white;
  position: absolute;
  right: 10px;
  top: 0;
}

/* ===========================
 *  Message Thread
 * =========================== */

#private-message {
  .message-input textarea {
    @include calc(width, '100% - 58px');
  }
}

.message-container {
  @include calc(height, '100% - 39px');
}


.conversation {
  @include calc(height, '100% - 29px');
  @include texture(180deg, #eee, #ffffff, 83, 1);
  background: white;
  overflow: hidden;
  overflow-y: scroll;
  -webkit-overflow-scrolling: touch;
}

.older-messages {
  width: 100%;
  font-weight: normal;
  background: rgba(75, 75, 75, 0.30);
  @include transition(background 200ms ease-in-out);

  &:hover {
    @include transition(background 200ms ease-in-out);
    background: rgba(75, 75, 75, 0.25);
  }
}

.message {
  @include clearfix;
  margin: em(15) 0 em(30);
  color: #444;

  time {
    float: right;
    margin: 2px 0 3px 15px;
    font-size: em(13);
  }

  &.to time {
    color: lighten($bubble-blue, 20)
  }

  .bubble {
    position: relative;
    display: inline-block;
    border-radius: em(5);
    margin: 0 10px;
    padding: 15px 20px;
    font-size: em(15);
    //    box-shadow: 1px 2px 5px rgba(60, 60, 60, .25);

    //    &:before {
    //      border-color: $bubble-blue;
    //      border-radius: 50% 50% 50% 50%;
    //      border-style: solid;
    //      border-width: 0 20px;
    //      bottom: 0;
    //      clip: rect(20px, 40px, 32px, 0px);
    //      content: " ";
    //      height: 30px;
    //      position: absolute;
    //      right: -50px;
    //      width: 30px;
    //      z-index: 1;
    //    }
  }

  &.to .bubble {
    float: right;
    //    background-color: $bubble-blue;
    background-color: $brand-blue;
    color: #fff;
    margin-left: 10vw;
    //    box-shadow: -1px 2px 4px rgba(60, 60, 60, .20);


    &:before {
      right: em(-8);
    }
  }

  &.from .bubble {
    //background-color: $bubble-grey;
    background-color: darken($light-blue, 0);
    //border: 1px solid darken($light-blue, 2);
    margin-right: 10vw;

    time {
      color: darken($light-blue, 25);
    }

    &:before {
      border-color: $bubble-grey;
      left: em(-8);
      transform: rotateY(180deg);
    }
  }
}

.message-with {
  bottom: 2px;
}

.user-connection {
  display: inline-block;
  margin: em(.5) em(5) 0;
  height: 11px;
  width: 11px;
  border-radius: 50%;

  &.online {
    border: 2px solid $success-color;
  }

  &.offline {
    border: 2px solid $error-color;
  }

  &.away {
    border: 2px solid $notice-color;
  }
}

/* ===========================
 *  Chat UI
 * =========================== */

.chat-head {
  position: relative;
  z-index: 10;
  height: 34px;
  padding: 7px 10px;
  background: #2c5999;
  //  background: linear-gradient(#fafafa, #e5e5e5);
  //  box-shadow: 0px 1px 2px rgba(50,50,50,.25);

  .title {
    color: $brand-blue;
    color: white;
    //    text-align: center;
    font-size: em(16);
    letter-spacing: em(-.25);

    .topic {
      font-size: em(14);
      color: $dark-gray;
      color: white;
      font-weight: 400;
    }
  }

  @include media($tablet-screen-up) {
    text-align: center;
  }
}


.chat-container {
  //  @include calc(height, '100% - 34px');
  height: 100%;
  background: #eee;
  position: relative;
}

.chat-sidebar {
  position: absolute;
  @include calc(height, '100% - 28px');
  width: 175px;
  left: 0;
  overflow: hidden;
  overflow-y: scroll;
  -webkit-overflow-scrolling: touch;
  background: white;

  .user-list {

    li {
      padding: 5px;
      background: #eee;
      border-bottom: 1px solid #fff;
    }

    a {
      @include display(flex);
      @include flex-direction(row);
      @include align-items(center);
      width: 100%;

      font-size: em(14);
      color: $brand-blue;
    }

    .profile-picture {
      height: 20px;
      width: 20px;
      padding: 0;
      background-size: cover;
      background-position: center;

      img {
        vertical-align: top;
      }
    }

    .username {
      margin-left: em(5);
    }

    .user-connection {
      margin-left: auto;
    }
  }
}

.user-count {
  position: absolute;
  right: 0;
  top: 0;
  padding: 7px;
  border-bottom: 1px solid $brand-blue;
  font-size: em(14);
  font-weight: bold;
  background: linear-gradient(lighten($brand-blue, 5), $brand-blue);
  color: white;
}

.chat-area {
  position: absolute;
  width: 100%;
  left: 0;
  @include transition(left 350ms ease-in-out);
  @include calc(height, '100% - 32px');
  overflow: hidden;
  overflow-y: scroll;
  -webkit-overflow-scrolling: touch;
  color: #333;
  background: white;

  .ul-open & {
    left: 175px;
    @include transition(left 350ms ease-in-out);

  }
}

.chat-messages {
  li {
    @include clearfix;
    padding: em(2) em(5);
  }

  li:nth-of-type(odd) {
    //    background: #f9f9f9;
  }

  .chat-message {
    float: left;
    //    width: 85%;

    .user {
      font-weight: bold;
      font-size: em(15);
      margin-right: 4px;
    }

    .message {
      font-size: em(16);
      font-family: $helvetica;
      letter-spacing: em(-.5);
    }
  }
  time {
    padding: em(4) 0;
    float: right;
    font-size: em(13);
    color: $medium-gray;
    text-align: right;
    //    width: 15%;
  }
}

.ul-btn {
  color: white;
  padding: em(14) em(10) em(8);
  font-size: em(10);
  font-weight: normal;

  i {
    font-size: em(15);
    position: relative;
    bottom: 1px;
  }

  &:hover {
    background: $base-link-color;
    color: white;
  }
}

.bottom-bar {
  position: absolute;
  @include display(flex);
  @include flex-direction(row);
  @include justify-content(center);
  bottom: 0;
  height: 32px;
  width: 100%;
  .message-input {
    position: relative;
    left: 0;

    textarea {
      @include calc(width, '100% - 87px');
    }
  }
}

/* ===========================
 *  User Profiles
 * =========================== */

.user-profile {

  .username {
    text-align: center;
    color: white;
    font-weight: 300;
    text-transform: capitalize;

    small {
      color: $brand-blue;
      font-size: 50%;
      font-weight: bold;
      letter-spacing: em(-.5);
      text-transform: lowercase;
    }
  }

  .profile-top {
    @include display(flex);
    @include flex-direction(column);
    @include align-items(center);
    padding-bottom: em(15);

    @include media($tablet-screen-up) {
      @include flex-direction(row);
    }
  }

  .colored-head {
    @include texture(180deg, $secondary-blue, lighten($secondary-blue, 23), 82, 1);
    //    background: linear-gradient($secondary-blue, lighten($secondary-blue, 23));
    //    border-bottom: 3px solid $secondary-blue;
    padding-top: em(15);
  }

  .profile-picture {
    text-align: center;

    @include media($tablet-screen-up) {
      @include shift(1);
      @include span-columns(5);
    }

    .image-container {
      background-size: cover !important;
      background-position: center !important;
      margin: 0 auto;
      border-radius: em(2);
      border: 2px solid white;
      height: 225px;
      width: 225px;
    }

    img {
      margin-top: em(10);
      border: 3px solid white;
      height: 200px;
      width: 200px;
      border-radius: em(2);
    }
  }

  .user-social {
    color: white;
    //    margin: em(25) 0;
    padding: em(25);

    @include media($tablet-screen-up) {
      @include span-columns(6);
      margin: 0;
    }

    .info-value {
      font-weight: bold;
    }

    .popularity li {
      display: inline-block;

      &:last-of-type {
        margin-left: em(10);
      }
    }

    .social-buttons {
      margin: em(15) 0;

      .btn-follow,
      .btn-unfollow {
        background: none;
        border: 1px solid white;
        color: white;

        i {
          color: white;
        }

        &:hover {
          color: white;
        }

      }

      .messages-link {
        color: white;
        background: $brand-blue;
        border: 1px solid $brand-blue;
      }
    }
  }

  .profile-fields {
    background: #f5f5f5;
    background: $secondary-blue;
    padding: 15px 0;
  }

  .quote {
    margin: em(15) 0;
    font-size: em(16);
    font-weight: 300;
    font-style: italic;
  }

  .share-intro {
    padding: em(15);
    color: white;
    text-align: center;
    border-radius: em(3);
    font-size: em(17);

    @include media($tablet-screen-up) {
      width: 80%;
      margin: 0 auto;
      padding: em(5);
    }
  }

}

/* ===========================
 *  Notifications
 * =========================== */

.notifications-page {
  @include texture(180deg, lighten($secondary-blue, 15), $secondary-blue, 82, 1);
  //   background: linear-gradient(lighten($secondary-blue, 15), $secondary-blue);
  min-height: 100%;
  overflow: hidden;
  overflow-y: scroll;
  -webkit-overflow-scrolling: touch;

  .new-notifications {
    @include display(flex);
    @include align-items(center);
    @include justify-content(center);
    padding: em(25) 0;
    text-align: center;

    .notification-amount {
      color: white;
      font-size: em(22);
      margin-right: 14px;
    }
  }
  button {
    padding: em(8);
    border-radius: em(0);
    font-size: em(16);
    background: white;
    color: $secondary-blue;
  }

  .notification {
    background: $brand-blue;
    margin-bottom: em(25);

    a {
      color: white;
    }
  }

  &.no-notifications {
    @include display(flex);
    @include align-items(center);
    @include justify-content(center);
    text-align: center;
    color: white;

    h1 {
      font-weight: 300;
      letter-spacing: em(1);
    }
  }
}

.coming-soon {
  @include display(flex);
  @include align-items(center);
  @include justify-content(center);
  text-align: center;
  color: white;
  @include texture(180deg, lighten($secondary-blue, 15), $secondary-blue, 82, 1);


  h1 {
    font-weight: 300;
    letter-spacing: em(1);
  }
}


/* ===========================
 *  Statuses
 * =========================== */

.status-list {
  @include display(flex);
  @include align-items(center);
  @include flex-direction(column);
  position: relative;

  .no-statuses {
    padding: em(25);
    h2 {
      font-weight: normal;
      color: $brand-blue;
    }
  }
}

.status-box {
  width: 95%;
  max-width: 600px;
  padding: em(15);
  border: 1px solid #f0f0f0;
  border-radius: em(3);
  background: white;
  margin: 10px 0 5px;
  //box-shadow: 0 0 5px 0 rgba(50, 50, 50, .15);
  box-shadow: 0 0 3px 1px rgba(50, 50, 50, .015);
}

.status-image {
  text-align: center;
  margin-top: em(10);
}

.status-meta {
  @include display(flex);
  @include align-items(center);

  .profile-pic {
    margin-right: em(10);
    width: 32px;
    height: 32px;
    border-radius: em(2);
    background-size: cover;
    background-position: center;
    //    img {
    //      height: 32px;
    //      widht: 32px;
    //      border-radius: em(2);
    //    }
  }

  h3 {
    text-transform: capitalize;
    font-size: em(19);
    line-height: em(15);
    marigin-right: em(15);

    small {
      font-size: em(13);
      color: #999;
      font-weight: normal;
      text-transform: lowercase;
      text-overflow: hidden;
    }
  }

  time {
    font-size: em(11);
    @include flex-grow(1);
    text-align: right;
  }
}

.status-content {
  margin: 10px 0 5px;
  font-family: $helvetica;

  .shared-user {
    color: $brand-color;
  }

  .original {
    font-size: em(13);
  }
}
.status-actions {
  margin-top: 10px;

  .action-buttons {
    margin: em(10) 0 0;
    li {
      display: inline-block;
      margin-right: em(10);
    }
    i {
      font-size: em(18);
      padding: em(3);
    }
    .shares-count,
    .serenity-count {
      font-size: em(15);
      color: #666;
      position: relative;
      right: 3px;
      bottom: 1px;
    }

    .delete {
      float: right;
      a {
        color: $error-color;
      }
    }

    .link {
      float: right;
    }
  }
}

/* ===========================
 *  Login Page
 * =========================== */

#login-page, #join-page, #forgotten-page, #reset-page {
  min-height: 100vh;
  text-align: center;
  color: #FFF;
  @include display(flex);
  //  @include align-items(center);
  @include justify-content(center);
  overflow: hidden;

  .flex-container {
    overflow-y: scroll;
    padding: em(40) 0;
    width: 450px;
  }

  .go-back {
    color: white;
  }

  form {
    padding: em(15);
    margin: 0 auto;
    max-width: 600px;
    text-align: left;

    :-moz-placeholder {
      color: white;
      font-size: em(13);
      line-height: em(26);
      letter-spacing: em(1.25);
    }
    ::-webkit-input-placeholder {
      color: white;
      font-size: em(13);
      line-height: em(26);
      letter-spacing: em(1.25);
    }
    :-ms-input-placeholder {
      color: white;
      font-size: em(13);
      line-height: em(26);
      letter-spacing: em(1.25);
    }

    input {
      background: none;
      border-color: white;
      color: white;
    }

    .btn-primary {
      background: rgba(220, 220, 220, .5);
      text-shadow: 1px 1px 1px rgba(0, 0, 0, .15);
      text-transform: uppercase;
      font-weight: bold !important;
      letter-spacing: em(.5);
      font-size: em(13);
      color: white;
      padding: em(12) em(18);
      font-weight: normal;
      margin-bottom: em(8);

    }

    .button-group {
      @include display(flex);
      @include align-items(flex-start);
      @include flex-direction(row);
      @include justify-content(space-between);

      .reset-password {
        color: white;
        text-align: center;
        font-size: em(15);
      }

      @include media($tablet-screen-up) {
        @include flex-direction(row);

        .reset-password {
          font-size: em(16);
        }
      }
    }
  }

  .login-bottom {
    margin: em(15) 0;
    text-align: center;
  }

  .link-auth-alt {
    color: white;
    margin-bottom: em(25);
    display: block;
    letter-spacing: em(.5);

    @include media($tablet-screen-up) {
      //      border-bottom: 1px dotted rgba(255, 255, 255, .15);
    }
  }

  .social-logins {
    text-align: center;
    margin: 0 auto;
    max-width: 400px;
    margin-bottom: em(10);

    li {
      display: inline-block;
      width: 45%;
    }

    img {
      max-width: 100%;
      cursor: pointer;
    }
  }

  .optin {
    font-size: em(13);
    letter-spacing: 0;
    font-weight: normal;
    display: inline-block;
    text-transform: capitalize;
  }

  .response {
    padding-left: 0;
    padding-bottom: 0;
    margin-bottom: em(10);

    &.error {
      &:before {
        color: white;
      }
    }
  }
}

#join-page {
  .btn-primary {
    background: $brand-light !important;

    //    box-shadow: 1px 1px 0 1px $brand-color;
  }
}

/* ===========================
 *   Create Profile
 * =========================== */

#create-profile {
  padding-top: em(40);
  min-height: 80%;
  @include display(flex);
  @include flex-direction(column);

  .response {
    color: white;
    font-size: em(14);
  }

  .input-group {
    text-align: center;
    margin: em(20) 0;

    .info {
      color: white;
      font-size: em(12);
    }

    .desc {
      color: white;
    }

    label {
      color: white;
      text-align: left;
    }

    input {
      background: white;
      border: 1px solid white;
      margin-bottom: 0;
    }

    input[type=file] {
      padding: 8px;
      background: rgba(255, 255, 255, .3);
      color: white;
      font-size: em(14);
      text-align: center;
      border-color: rgba(255, 255, 255, .5);
    }

    select {
      border-radius: 0;
      border: 0;
      margin-bottom: 0;
    }

    textarea {
      border: 0;
      resize: none;
      &:focus,
      &:active {
        border: 0;
      }
    }

    #cordova-upload {
      margin-top: em(10);
      padding: em(8);
      text-align: left;
      color: white;
      background: rgba(255, 255, 255, .3);
      border: 1px solid rgba(255, 255, 255, .5);
      font-size: em(14);

      button {
        padding: em(6) em(12);
      }
    }
  }

  .avatar-preview {
    height: 100px;
    width: 100px;
    border-radius: 2px;
    border: 1px solid white;
  }
  .sober-date {
    .selects {
      @include display(flex);
      @include flex-direction(row);
    }

    select {
      margin-right: em(10);
      width: auto;
    }
  }

  .actions {
    text-align: right;
    margin: em(20) 0;

    button {
      padding: em(12) em(30);
      font-weight: normal;
      letter-spacing: em(1);
      font-size: em(14);
    }

    li {
      display: inline-block;
      margin-left: em(8);
    }

    .submit {
      background: $brand-color;
      @include transition(background 400ms);

      &:disabled {
        background: $dark-gray;
      }
    }

    .skip {
      background: rgba(255, 255, 255, .4);
      padding: em(12) em(30);
    }
  }

  .step-list {
    position: relative;
    margin: em(15) 0 em(30);
    z-index: 5;
    overflow: hidden;
    text-align: center;
    counter-reset: step;

    li {
      list-style-type: none;
      color: white;
      text-transform: uppercase;
      font-size: 9px;
      width: 25%;
      float: left;
      position: relative;
      font-weight: bold;

      &:before {
        content: counter(step);
        counter-increment: step;
        width: 20px;
        line-height: 20px;
        display: block;
        font-size: 10px;
        color: #333;
        background: white;
        border-radius: 3px;
        margin: 0 auto 5px auto;
      }

      &:after {
        content: '';
        width: 100%;
        height: 2px;
        background: white;
        position: absolute;
        left: -50%;
        top: 9px;
        z-index: -1;
      }

      &:first-child:after {
        content: none;
      }

      &.active:before,
      &.active:after {
        background: $brand-color;
        color: white;
      }
    }
  }

  .steps {
    @include display(flex);
    @include align-items(center);
    @include justify-content(center);
    @include flex(1);
    width: 95%;
    margin: 0 auto;

    .step {
      width: 100%;
      max-width: 425px;
      margin-top: em(10);
      display: none;

      @include media($tablet-screen-up) {
        margin-top: em(30);
      }

      &:first-of-type {
        display: block;
      }
    }

    .title {
      font-weight: normal;
      text-align: center;
      color: white;
      letter-spacing: em(1);
      margin-bottom: em(25);
    }
  }
}

/* ===========================
 *  Help Page
 * =========================== */
.help-section {
  padding: em(25) em(10);
  color: white;
  min-height: 50vh;
  @include display(flex);
  @include align-items(center);

  &:nth-of-type(odd) {
    background-color: $secondary-blue;
    background: url('https://d6gyptuog2clr.cloudfront.net/tough_time.jpg') no-repeat center;
    background-size: cover;
    border-bottom: 2px solid #eee;

    .get-help {
      color: #333;
    }
  }
  &:nth-of-type(even) {
    background-color: $brand-color;
    background: url('https://d6gyptuog2clr.cloudfront.net/time_for_change.jpg') no-repeat center;
    background-size: cover;

    .flex-container {
      background: rgba(250, 124, 56, .98);
      padding: em(10);
      border-radius: em(2);
    }
    .get-help {
      color: $brand-color;
    }
  }

  h2 {
    font-weight: normal;
    font-size: em(22);
    text-align: center;
  }

  p {
    text-align: center;
    margin: em(10) 0;
  }

  .button-container {
    margin: em(20) 0;
    text-align: center;
  }

  .get-help {
    box-shadow: 0 0 4px 2px rgba(50, 50, 50, .1);
    text-align: center;
    background: white;
    padding: em(8) em(15);
    border-radius: em(3);
  }
}

#get-help {
  //min-height: 100vh;
  background: $light-blue;
  padding: em(20) em(10);

  h2 {
    text-align: center;
    font-weight: normal;
    font-size: em(28);
  }

  .available {
    color: $success-color;
  }

  .support-person {
    @include display(flex);
    @include align-items(center);
    @include justify-content(center);
    @include flex-direction(column);

    img {
      height: 130px;
      width: 130px;
    }

    .bubble {
      width: 100%;
      height: 75%;
      background: white;
      padding: em(20);
      border-radius: em(25);
      font-size: em(14);
      line-height: em(16);
    }
  }

  .contact-area {
    @include display(flex);
    @include justify-content(center);
    @include align-items(center);
    @include flex-direction(column);

    @include media($tablet-screen-up) {
      @include flex-direction(row);

      .or {
        margin: 0 em(30);
      }
    }
  }

  .click-to-call {
    display: block;
    background: $secondary-blue;
    color: white;
    text-transform: capitalize;
    padding: em(15);
    margin: em(25) 0;
    width: 270px;
    text-align: center;
    border-radius: em(5);
    font-size: em(18);
    font-weight: bold;
  }

  .fw-normal {
    font-weight: normal;
  }

  .submit-number {
    margin: em(25) 0;
    width: 270px;
    text-align: center;

    p {
      font-size: em(15);
      line-height: em(22);
    }
  }

  .input-group {

    .input {
      position: relative;

      button {
        position: absolute;
        top: 0;
        right: 0;
        padding: em(11);
        background: $secondary-blue;
      }
    }
  }

}


/* ===========================
 *  Task Page
 * =========================== */

#checklist {
  background: white;
}
.tasks-top {
  @include texture(180deg, lighten($secondary-blue, 10), lighten($secondary-blue, 20), 82, 0);
}
.task-header {
  padding: em(20) em(5) em(10);
  color: white;

  .title {
    font-size: em(18);
    font-weight: normal;
    text-align: center;
  }
}

.task-buttons {
  padding: em(10) 0;
  text-align: center;

  li {
    display: inline-block;

    &:first-of-type {
      margin-right: em(15);
    }

    button {
      padding: em(5) em(15);
      background: rgba(255, 255, 255, 0.1);
    }
  }
}

.task-management {
  border-bottom: 2px solid $secondary-blue;
}

#task-form {
  display: none;
  border-bottom: 2px solid #f5f5f5;

  form {
    @include display(flex);
    @include justify-content(center);

    input {
      margin-bottom: 0;
      border: 0;

      &:focus {
        border: 0;
      }
    }
    button {
      background: #f8f8f8;
      color: $success-color;
      border-left: 1px solid #f8f8f8;
    }
  }
}

.task-list {
  min-height: 100%;
  background: white;
}
.task {
  @include display(flex);
  @include align-items(center);
  @include justify-content(center);
  //  background: #ecf0f1;
  padding: 10px 0;
  background: white;
  border-bottom: 2px solid #f5f5f5;
  min-height: 60px;

  &:last-of-type {
    border-bottom: 0;
  }

  &:nth-of-type(even) {
    //    background: #f8f8f8;
  }

  .checkbox {
    @include span-columns(2);
    padding: em(5);
  }
  .task-name {
    @include span-columns(8);

    h5 {
      font-weight: normal;
      font-size: em(18);
    }
  }
  .task-controls {
    @include span-columns(2);
    @include display(flex);
    @include align-items(center);
    @include justify-content(flex-end);

    .delete-task {
      color: $error-color;
      margin-right: em(5);
      padding: em(5);
      height: 100%;
      cursor: pointer;
    }

    .position-arrows div {
      padding: em(8) em(3);
      background: $secondary-blue;
      color: white;
      cursor: pointer;
    }

  }
}

.completed {
  opacity: .25;
  .task-name {
    h5 {
      text-decoration: line-through;
      //      color: #ddd;
    }
  }
}

.checkbox {

  input {
    display: none;
  }

  label {
    margin-bottom: 0;
    text-align: center;
  }

  input + label:before {
    font-family: FontAwesome;
    content: "\f096";
    font-size: em(28);
    letter-spacing: 5px;
  }

  input:checked + label:before {
    font-family: FontAwesome;
    content: "\f046";
    font-size: em(28);
    letter-spacing: 5px;
    //    color: $success-color;
    //    color: #ddd;
  }
}

/* ===========================
 *  Timeline Page
 * =========================== */
#timeline {
  .cordova & {
    @include calc(height, '100vh - 40px');
  }
}

.timeline-filter {
  @include display(flex);
  @include align-items(flex-start);
  @include justify-content(center);
  box-shadow: 0 0 3px 2px rgba(50, 50, 50, .175);

  button {
    width: 50%;
    font-weight: normal;
    font-size: em(14);
    border-bottom: 3px solid lighten(#477dca, 15);

    i {
      font-size: em(12);
      margin-right: 3px;
      color: lighten(#477dca, 15);
      position: relative;
      bottom: 1px;
    }

    &:hover {
      background: #477dca;
    }
    &.active {
      border-bottom: 3px solid white;

      i {
        color: white;
      }

      &:hover {
        background: #477dca;
      }
    }
  }
}

.page-header {
  position: absolute;
  z-index: 20;
  width: 100%;
  height: 40px;
  background: white;
  box-shadow: 0px 1px 2px rgba(50, 50, 50, .1);

  .header-bar {
    @include display(flex);
    @include align-items(center);
    @include justify-content(space-between);
    height: 100%;
  }

  .filter {
    button {
      position: relative;
      @include display(flex);
      @include align-items(center);
      padding: 10px 15px;
      background: white;
      color: $brand-blue;

      small {
        font-size: 60%;
        vertical-align: center;
      }

      i {
        font-size: em(17);
      }

      .name {
        font-size: em(13);
        font-weight: normal;
        margin-left: 7px;
      }
    }
  }


  .filter button:hover,
  .filter button:active,
  .filter button.active {
    border-bottom: 2px solid $brand-blue;
    @include transition(border-bottom 100ms ease-in-out);
  }

  .user-search {
    position: absolute;
    left: 0;
    padding: 0 em(5);
    background: $light-blue;
    height: 0;
    width: 100%;
    opacity: 0;
    @include transition(height 200ms ease);


    input {
      width: 100%;
      margin: 0 auto;
      height: 0;
      border: 0;
      border-radius: em(2);
      padding: 0 em(5);
      border: 1px solid darken($light-blue, 5);
      @include transition(height 200ms ease);
    }
  }
}

.page-header.search-open + .page-container {
  top: 80px;
  @include transition(top 200ms ease-in-out);
  @include calc(height, '100% - 80px');
}

.page-header.search-open {
  .user-search {
    @include transition(height 200ms ease);
    height: 40px;
    padding: em(5);
    opacity: 1;

    input {
      height: 30px;
      @include transition(height 200ms ease);

    }
  }
}

.page-container.has-header {
  top: 40px;
  background: $light-blue;
  @include calc(height, '100% - 40px');
}

.timeline-filters .filter {
  button {
    padding: 11px 12px;
  }
  i {
    font-size: em(13) !important;
  }
  .name {
    letter-spacing: em(-.25);
    font-size: em(15) !important;
  }
  small i {
    position: relative;
    margin-left: 5px;
    font-size: em(22) !important;

    &.fa-sort-asc {
      top: 4px;
    }
    &.fa-sort-desc {
      bottom: 2px;
    }
  }
}

/* ===========================
 *  User List Page
 * =========================== */

.member-filters {

  .filter small i {
    position: relative;
    margin-left: 5px;
    font-size: 1.375em !important;
  }

  .filter small i.fa-sort-asc {
    top: 4px;
  }

}

#user-list {

  .fixed-header {
    position: relative;
  }

  .page-head {
    border-bottom: 3px solid #477DCA;

    .title {
      display: inline-block;
      @include calc(width, '100% - 32px');
    }
  }

  #search-toggle {
    position: absolute;
    top: 0;
    right: 0;
    padding: em(9);

    &:hover {
      background: #477dca;
    }
  }

  .user-search {
    padding: 0 em(5);
    background: #477dca;
    height: 0;
    width: 100%;
    opacity: 0;
    @include transition(height 200ms ease);


    input {
      width: 100%;
      margin: 0 auto;
      height: 0;
      border: 0;
      border-radius: em(2);
      padding: 0 em(5);
      @include transition(height 200ms ease);
    }
  }

  &.search-open & .user-search {
    opacity: 1;
    @include transition(height 200ms ease);
    height: 40px;
    padding: em(5);

    input {
      height: 30px;
      @include transition(height 200ms ease);
    }
  }
}

.user-box {
  @include display(flex);
  @include align-items(center);
  @include justify-content(flex-start);
  margin: auto;
  padding: 15px 10px;
  max-width: 600px;
  background: white;
  margin-bottom: 10px;
  border: 1px solid #f0f0f0;
  //box-shadow: 0 0 2px 1px rgba(50, 50, 50, .05);
  box-shadow: 0 0 3px 1px rgba(50, 50, 50, .015);

  @include media($mobile-screen-down) {
    @include flex-wrap(wrap);
  }

  .profile-pic {
    text-align: left;
    margin-right: em(15);

    .thumb-container {
      width: 60px;
      height: 60px;
      background-size: cover !important;
      background-position: center;
      border-radius: 2px;
    }
    img {
      max-width: 45px;
      height: auto;
      border-radius: em(2);
    }
  }

  .profile-info {
    @include flex(1);

    @include media($mobile-screen-down) {
    }

    .box-top {
      @include display(flex);
      @include justify-content(space-between);
      @include align-items(center);
    }

    .username {
      font-size: em(16);
      text-transform: capitalize;
      white-space: nowrap;
      overflow: hidden;

      small {
        text-transform: lowercase;
      }

      a {
        font-size: em(18);
        font-weight: normal;
      }
    }
  }

  .box-bottom {
    @include display(flex);
    @include justify-content(space-between);
    @include align-items(flex-end);
  }

  .more-info {
    font-size: em(13);
    color: #656565;
    text-transform: capitalize;

    .location {
      text-decoration: italic;
    }
  }

  .social-buttons {
    @include display(flex);
    @include align-items(center);
    @include justify-content(flex-end);
    //min-width: 80px;

    .button-container {
      @include flex-shrink(0);
      margin-right: 3px;
      &:last-of-type {
        margin-right: 0;
      }
    }

    @include media($mobile-screen-down) {
    }

    a {
      display: block;
      font-size: em(20);
      color: $brand-blue;
      padding: 0 8px;

      .fa-plus-square-o,
      .fa-minus-square-o {
        position: relative;
        top: 1px;
      }
    }

    .btn-unfollow {
      //      color: $error-color;
    }
    .btn-follow {
      //      color: $success-color;
    }
  }

}


/* ===========================
 *  New Status Page
 * =========================== */
#new-status {
  background: $secondary-blue;
}

.response {
  text-align: center;
  margin-bottom: 5px;
  font-size: em(14);
}

.share-form {
  @include display(flex);
  @include justify-content(center);
  padding: em(50) 0;
  background: $light-blue;


  .flex-container {
    width: 95%;

    @include media($tablet-screen-up) {
      width: 80%;
    }
  }

  h2 {
    color: $brand-blue;
    font-weight: normal;
    text-align: center;
    margin-bottom: em(25);
  }

  .share-input {
    border: 1px solid #ebecf0;
    border-radius: em(3);
    background: white;

    textarea {
      border: 0;
      resize: none;
      min-height: 250px;
    }
  }

  .form-action,
  .input-status {
    @include clearfix;
  }

  .below-status {
    @include display(flex);
    @include flex-direction(row);
    @include align-items(flex-end);
    @include justify-content(space-between);
  }

  #getImage {
    background: #ebecf0;
    color: $brand-blue;
  }

  #statusImage {
    position: absolute;
    left: -99999px;
  }

  .remove-image {
    display: none;
  }

  #removeImage {
    dipslay: inline-block;
    padding: em(5);
    background: $error-color;
  }

  .file-name {
    display: inline-block;
    font-size: em(13);
    margin-left: em(5);
  }

  #charsLeft {
    @include align-self(flex-end);
    font-size: em(14);
    color: #666;
    padding: em(3) em(10);
  }

  .form-action {
    margin: em(10) 0;
  }

  #shareStatus {
    float: right;
    padding: em(10) em(40);
    font-weight: normal;
    background: $brand-color;
  }
}

.latest-share {
  @include display(flex);
  @include align-items(center);
  @include justify-content(center);
  @include flex-direction(column);
  background: $secondary-blue;
  padding: em(25) 0;

  h2 {
    color: white;
    font-weight: normal;
    text-align: center;
  }
}

/* ===========================
 *  Dashboard
 * =========================== */

#dashboard {
  color: white;
  background: #fafafa;

  .top-info {
    color: white;
    background: $secondary-blue;
    font-size: em(18);
    border-bottom: 2px solid lighten($secondary-blue, 15);
    padding: em(5);

    time {
      display: block;
      text-align: center;
    }
  }

  .user-intro {
    background: lighten($secondary-blue, 15);
    border-bottom: 2px solid lighten($secondary-blue, 20);
  }
  .welcome-back {
    padding: em(8) em(10);
    text-align: center;
    font-size: em(20);
    letter-spacing: em(.5);
  }

  .dash-section {
    padding: em(20) em(10);
    max-width: 500px;
    margin: 0 auto;

    h3 {
      font-size: em(16);
      text-transform: uppercase;
      letter-spacing: em(1.5);
      margin-bottom: em(5);
      color: $brand-blue;
    }

    a {
      color: #123865;
      font-size: em(17);
    }

    .section-head {
      margin-bottom: 8px;
    }
    .section-body {
      font-size: em(17);
    }

    .btn-dash-item {
      background: $base-link-color;
      color: white;
      padding: 8px;
      border-radius: 3px;
      font-size: em(14);
      margin-left: 10px;
    }
  }

  .social-updates {
    margin-bottom: 8px;
  }

  .new-user,
  .celebrant {
    padding: 8px 0;
    margin-bottom: 5px;
    border-top: 1px solid #eee;

    &:first-of-type {
      border-top: 0;
    }
    //margin-bottom: 15px;
    a {
      padding: 3px;
      font-size: em(20);
    }
  }

}

/* ===========================
 *  Daily Readings
 * =========================== */

#daily-readings {
  background: #fafafa;
}

.reading-select {
  @include display(flex);
  @include align-items(center);
  @include justify-content(center);
  padding: em(10) 0;
  background: linear-gradient($secondary-blue, lighten($secondary-blue, 10));
  //  border-bottom: 2px solid $brand-light;
  border-bottom: 2px solid lighten($secondary-blue, 30);

  @include media($tablet-screen-up) {
    padding: em(15) 0;
  }

  select {
    width: 75%;
    border: 0;
    margin-bottom: 0;
    color: white;
    background: rgba(255, 255, 255, .15);
  }
}

#reading-section {
  font-family: $helvetica;
  .display-date {
    position: relative;
    margin-bottom: 15px;

    #shareReading {
      position: absolute;
      left: 0;
      top: 0;
      padding: em(4);
      font-size: em(14);
      background: lighten($secondary-blue, 30);
      //      background: $brand-light;
      color: white;

      @include media($tablet-screen-up) {
        padding: em(6);
      }
    }

    text-align: center;
    font-size: em(20);
    letter-spacing: em(2);
    padding: em(3) 0;
    background: white;
    border-bottom: 1px solid #f5f5f5;

    @include media($tablet-screen-up) {
      font-size: em(24);
      padding: em(5) 0;
    }
  }

  .reading-title {
    font-weight: normal;
    text-align: center;
  }

  .current-reading {
    padding: em(5) em(10);

    blockquote {
      padding: 0;
      margin: em(13) 0;
      border-left: 0;
      font-size: em(16);
      text-align: center;
    }

    .quoted-page {
      margin-top: 10px;
      display: block;
      text-align: right;
      font-weight: bold;
      font-size: em(14);
    }

    p {
      padding: 0 em(5);
      font-size: em(17);
      line-height: em(24);
      text-align: justify;
    }

    h3 {
      font-weight: normal;
      font-size: em(28);
      margin: 0;
      text-align: center;
    }

    h3 + p {
      text-align: center;
    }
  }
}

#reading-copyright {
  padding: 10px 0;
  font-size: em(14);
  text-align: center;
  font-style: italic;
}

#profile-picture {
  min-height: 100%;

  form {
    max-width: 600px;
    margin: 0 auto;
  }

  .avatar-preview {
    width: 100%;
  }

  #cordova-upload {
    padding: 5px;
    background: #eee;
    position: relative;
    top: -6px;
    border-bottom: 2px dashed #ccc;
  }

  .page-actions {
    margin: 0 5px;
  }

  #save-changes {
    width: 100%;
    margin-top: 10px;
    display: block;
    padding: 12px;
    background: $brand-color;
    font-weight: normal;

    &:hover {
      background: $brand-color;
    }

    &:disabled {
      background: $dark-gray;
      color: white;
    }
  }

  #go-back {
    display: block;
    margin-top: 15px;
    margin-bottom: 10px;
    border: 1px solid $base-link-color;
    padding: 5px;
    text-align: center;
  }

  @include media($tablet-screen-up) {
    padding: 10px 0;

    .page-actions {
      margin: 0 0;
    }
  }
}


.settings-nav {

  li {
    border-bottom: 1px solid #eee;

    &:last-of-type {
      border-bottom: 0;
    }
  }

  a {
    display: block;
    font-size: em(20);

    &:hover {
      .icon {
        color: $base-link-color;
      }
      .right-icon {
        color: #ccc;
      }
    }
  }

  .link-container {
    @include display(flex);
    @include align-items(center);
    @include justify-content(space-between);
  }

  .icon,
  .link-name,
  .right-icon {
    padding: 20px;
  }

  .icon {
    width: 15%;
    color: $brand-blue;
    font-size: em(19);

  }
  .link-name {
    font-size: em(15);
    color: $brand-blue;
    width: 90%;
    letter-spacing: em(.75);
  }
  .right-icon {
    //width: 15%;
    text-align: right;
    color: #eee;
  }

  .help-button {
    background: $error-color;

    .icon,
    .link-name,
    .right-icon {
      //color: lighten($error-color, 10);
      color: white;
    }

    .link-name {
      font-weight: bold;
    }

    a:hover {
      .icon,
      .link-name,
      .right-icon {
        color: white;
      }
    }
  }
}

/* ===========================
 *  Join Page
 * =========================== */
//
//#join-page {
//  min-height: 100vh;
//  text-align: center;
//  color: #FFF;
//  @include display(flex);
//  @include align-items(center);
//  @include justify-content(center);
//  overflow: hidden;
//
//  .flex-container {
//    overflow-y: auto;
//  }
//}