<template name="newStatus">
  {{queryString}}
  <div id="new-status" class="page-container">
    <section class="share-form">
      <div class="flex-container">
        <h2>Share with the community!</h2>

        <div class="response"></div>
        <form action="">
          <div class="share-input">
            <textarea id="newStatus" name="newStatus">{{#if replyData}}@{{replyData.user}}: {{replyData.status}}
              - {{/if}}</textarea>
            <div class="below-status">
              <div class="image-upload">
                <div class="add-image">
                  <button id="getImage">Add Image</button>
                  <input type="file" id="statusImage">
                </div>
                <div class="remove-image">
                  <button id="removeImage">
                    <i class="fa fa-times"></i>
                  </button>
                  <div class="file-name"></div>
                </div>
              </div>
              <div class="input-status">
                <div id="charsLeft">{{charsLeft}}</div>
              </div>
            </div>

          </div>
          <div class="form-action">
            <button type="submit" id="shareStatus">Share</button>
          </div>
        </form>
      </div>
    </section>

    {{#if status}}
      <section class="latest-share">
        <h2>Your latest share</h2>
        {{#each status}}
          {{> statusp}}
        {{/each}}
      </section>
    {{/if}}

  </div>
</template>