<template name="timeline">
  <header class="page-header">
    <nav class="header-bar timeline-filters">
      <div class="recent-filter filter">
        <button id="recent-timeline" class="active"><i class="fa fa-list"></i> <span class="name">Recent</span></button>
      </div>
      <div class="popular-filter filter">
        <button id="popular-timeline"><i class="fa fa-fire"></i> <span class="name">Popular</span></button>
      </div>
      <div class="following-filter filter">
        <button id="following-timeline"><i class="fa fa-users"></i> <span class="name">Following</span></button>
      </div>
    </nav>
  </header>
  <div id="timeline" class="page-container has-header">
    <section id="status-scroll" class="status-scroll">
      <div class="status-list">
          {{#each status}}
              {{> statusp}}
          {{/each}}
          {{#if status.length}}
              {{#if cordova}}
                <div class="load-btn-container">
                  <button id="load-more">Load more shares</button>
                </div>
              {{/if}}
          {{/if}}
      </div>
    </section>

  </div>
</template>
