<template name="userlist">
  <header class="page-header">
    <nav class="header-bar">
      <div class="time-filter filter">
        <button><i class="fa fa-clock-o"></i> <small><i class="fa fa-sort-asc"></i></small></button>
      </div>
      <div class="serenity-filter filter">
        <button><i class="fa fa-line-chart"></i><small><i class="fa fa-sort-desc"></i></small></button>
      </div>
      <div class="gender-filter filter">
        <button><i class="fa fa-mars"></i></button>
      </div>
      <div class="picture-filter filter">
        <button><i class="fa fa-picture-o"></i></button>
      </div>
      <div class="search-filter filter">
        <button id="search-toggle"><i class="fa fa-search"></i></button>
      </div>
      <div class="user-search">
        <input class="userList-filter" type="text">
      </div>
    </nav>
  </header>
  <div id="user-list" class="page-container has-header">
    <section class="user-scroll">
      <div class="users-list">
          {{#each listOfUsers}}
              {{#unless isCurrentUser this.username}}
                  {{> usersp this}}
              {{/unless}}
          {{/each}}
          {{#if hasMore}}
              {{#if cordova}}
                <div class="load-btn-container">
                  <button id="load-more">Load more users</button>
                </div>
              {{/if}}
          {{/if}}
      </div>
    </section>
  </div>
</template>
