<template name="userProfile">

  <div id="user-profile" class="page-container">
    {{#unless banned}}
      {{#if user}}
        <div class="user-profile {{username}}">

          <section class="colored-head">

            {{#if user.profile.name}}
              <h1 class="username">{{user.profile.name}} <small>({{username}})</small></h1>
            {{else}}
              <h1 class="username">{{username}}</h1>
            {{/if}}

            <div class="profile-top">
              <div class="profile-picture">
                <img src="{{getImgURL user.profile.profilePic}}" alt="{{username}}">
              </div>
              <div class="user-social">
                <h5 class="quote">{{user.profile.quote}}</h5>
                <ul class="social-info">
                  <li>Serenity Points: <span class="info-value">{{user.serenity}}</span></li>
                  <li>
                    <ul class="popularity">
                      <li>Followers: <span class="info-value">{{user.followersCount}}</span></li>
                      <li>Following: <span class="info-value">{{user.followsCount}}</span></li>
                    </ul>
                  </li>
                </ul>
                {{#unless isCurrentUser}}
                  <div class="social-buttons">
                    {{#if currentUserFollows username}}
                      <a href="#" class="btn btn-unfollow unfollowBtn"><i class="fa fa-minus-circle"></i> Unfollow</a>
                    {{else}}
                      <a href="#" class="btn btn-follow followBtn"><i class="fa fa-plus-circle"></i> Follow</a>
                    {{/if}}
                    <a class="btn messages-link" href="/messages/{{username}}"><i class="fa fa-exchange"></i> Message</a>
                  </div>
                {{/unless}}
                {{#if admin}}
                  <button id="ban-user">Ban User</button>
                {{/if}}
              </div>
            </div>
          </section>

          <section class="profile-fields">
            <p class="share-intro">Hello, my name is {{#if user.profile.name}}{{user.profile.name}}{{else}}{{username}}{{/if}}, I'm an {{programIntro user.profile.program}} {{#if user.profile.location}}from <strong>{{user.profile.location}}</strong>{{/if}}. I have been {{cleanOrSober user.profile.program}} for <strong>{{elapsedDays user.profile.soberDate}}</strong> days. {{#if user.profile.homegroup}}My homegroup is <strong>{{user.profile.homegroup}}</strong>!{{/if}}</p>
          </section>
        </div>

        <div class="status-list">
          {{#each status}}
            {{> statusp}}
          {{/each}}
        </div>

      {{else}}
        <h1>{{username}} does not exist</h1>
      {{/if}}
    {{/unless}}
    {{#if banned}}
      <h1>{{username}} has been banned</h1>
    {{/if}}
  </div>
</template>
