<template name="menu">
  <section class="user">
      {{#if currentUser}}
        <div class="user-pages">
          <div class="row">
            <div class="button profile">
              <a href="/users/{{currentUserUsername}}">
                <i class="fa fa-user fa-lg"></i>
              </a>
            </div>
            <div class="button notifications">
              <a href="/notifications">
                <div class="badge-container">
                  <div class="badge">
                    <span class="badge-count">{{notificationCount}}</span>
                  </div>
                  <i class="fa fa-bell fa-lg"></i>
                </div>
              </a>
            </div>
          </div>
          <div class="row">
            <div class="button status">
              <a href="/status">
                <i class="fa fa-pencil fa-lg"></i>
              </a>
            </div>
            <div class="button messages">
              <a href="/messages">
                <div class="badge-container">
                  <span class="badge"> {{messageNotificationCount}} </span>
                  <i class="fa fa-envelope fa-lg"></i>
                </div>
              </a>
            </div>
          </div>
        </div>
      {{else}}
        <ul class="sign-in">
          <li><a href="/signin">Sign In</a></li>
          <li><a href="/join">Join</a></li>
        </ul>
      {{/if}}
  </section>
  <ul class="pages social">
      {{#if currentUser}}
        <li><a href="/">Dashboard</a></li>
      {{/if}}
    <li><a href="/timeline">Timeline</a></li>
    <li><a href="/chat">Chat Room</a></li>
    <li><a href="/users">Member List</a></li>
  </ul>
  <ul class="pages content">
    <li><a href="/daily-readings">Daily Reading</a></li>
    <li><a href="/checklist">Daily Checklist</a></li>
    <li><a href="/speaker-tapes">Speaker Tapes</a></li>
    <li><a href="/recovery-stories">Recovery Stories</a></li>
  </ul>
  <ul class="pages bottom">
    {{#if currentUser}}
      <li><a href="/account">Account</a></li>
      <li><a href="/profile">Profile</a></li>
      <li><a href="/logout">Logout</a></li>
    {{/if}}
    <!--<li><a class="help-link" href="/help">Still Struggling?</a></li>-->
  </ul>
</template>