
<template name="statusp">
    <div class="status-box">

    <div>{{this.status}} 
      <a href="/status/{{this._id}}">[link]</a>
    </div>
    <small> | posted: {{relativeTime this.timestamp}} | serenity: {{this.serenity}} | by: {{this.username}} </small>

    {{#if currentUserSerenityList this._id}}
      <button class="serenityDownBtn" data-statusId="{{this._id}}"> serenity- </button>
    {{else}}
      <button class="serenityUpBtn" data-statusId="{{this._id}}"> serenity+ </button>
    {{/if}}
    </div>
</template>