
<template name="statusp">
  <div class="status-box">

    <header class="status-meta">
      <div class="profile-pic">
        <a href="/users/{{currentUser.username}}">
          <img src="{{#if currentUser.profile.profilePicThumb}}{{getImgURL currentUser.profile.profilePicThumb}}{{else}}{{getImgURL currentUser.profile.profilePic}}{{/if}}" alt=""/>
        </a>
      </div>
        {{#if currentUser.profile.name}}
          <h3 class="username">{{currentUser.profile.name}} <small><a href="/users/{{currentUser.username}}">@{{currentUser.username}}</a></small></h3>
        {{else}}
          <h3 class="username">{{currentUser.username}}</h3>
        {{/if}}
      <time class="status-time">{{relativeTime this.timestamp}}</time>
    </header>

    <section class="status-content">
        {{#unless isShared}}
            {{linkMentions this.status}}
            {{#if this.image}}
              <div class="status-image">
                <img src="{{getImgURL this.image}}">
              </div>
            {{/if}}
        {{else}}
          <i class="fa fa-retweet"></i> <a class="shared-user" style="color: {{userColor this.sharedUser}}" href="/users/{{this.sharedUser}}">{{this.sharedUser}}</a>: "{{linkMentions this.status}}" <a class="original" href="/status/{{this.sharedId}}">[original]</a>
        {{/unless}}
    </section>

    <footer class="status-actions">
      <ul class="action-buttons">
        <li class="reply"><a class="replyStatus" href="/status"><i class="fa fa-reply"></i></a></li>
          {{#unless isShared}}
            <li class="share">
                {{#unless currentUserShareList this._id}}
                  <a class="shareStatus" href="#" data-statusId="{{this._id}}"><i class="fa fa-retweet"></i></a> <span class="shares-count">{{this.shares}}</span>
                {{else}}
                  <i class="fa fa-retweet"></i> <span class="shares-count">{{this.shares}}</span>
                {{/unless}}
            </li>
          {{/unless}}
        <li class="like">
            {{#if currentUserSerenityList this._id}}
              <a href="#" class="serenityDownBtn" data-statusId="{{this._id}}">
                <i class="fa fa-heart"></i>
              </a>
              <span class="serenity-count">{{this.serenity}}</span>
            {{else}}
              <a href="#" class="serenityUpBtn" data-statusId="{{this._id}}">
                <i class="fa fa-heart-o"></i>
              </a>
              <span class="serenity-count">{{this.serenity}}</span>
            {{/if}}
        </li>
        <li class="link">
          <a href="/status/{{this._id}}"><i class="fa fa-link"></i></a>
        </li>
          {{#if currentUserStatus}}
            <li class="delete">
              <a href="#" class="deleteStatus" data-statusId="{{this._id}}"><i class="fa fa-trash-o"></i></a>
            </li>
          {{/if}}
      </ul>
    </footer>
  </div>
</template>