<template name="chat">
  <section class="chat-container">

    <div class="chat-sidebar">
      <ul class="user-list">
        {{#each listOfUsers}}
          <li>
            <a style="color: {{userColor username}}" href="/users/{{this.username}}">
              <div class="profile-picture">
                <img src="{{profilePic username}}" alt="{{username}}">
              </div>
              <div class="username">
                {{this.username}}
              </div>
              <span class="user-connection {{this.state}}"></span>
            </a>
          </li>
        {{/each}}
      </ul>
    </div>

    <div class="chat-area">
      <ol class="chat-messages">
        {{#each messages}}
          <li style="border-left: 2px solid {{userColor this.username}}">
            <div class="chat-message">
              <span class="user">
                <a style="color: {{userColor this.username}}" href="/users/{{this.username}}" class="userLink">{{this.username}}</a>:
              </span>
              <span class="message">
                {{linkMentions this.message}}
              </span>
            </div>
            <time>{{relativeTime this.timestamp}}</time>
          </li>
        {{/each}}
      </ol>
    </div>

    <div class="bottom-bar">
      <button class="ul-btn"><i class="fa fa-users"></i> {{listOfUsers.count}}</button>
      <div class="chat-input">
        <textarea class="text-input" autocomplete="off"></textarea>
        <button id="send-chat">send</button>
      </div>
    </div>

  </section>

</template>