<template name="checklist">

  <div id="checklist" class="page-container">

    <div class="tasks-top">
    <section class="task-header">
      {{#if tasks.length}}
        <h2 class="title">You have completed {{completed.count}} out of {{tasks.length}} of your daily tasks!</h2>
      {{else}}
          <h2 class="title">Stay on top of your recovery program with a daily task list!</h2>
      {{/if}}
    </section>

    <section class="task-management">
      <ul class="task-buttons">
        <li><button id="add-new">Add New</button></li>
        <li><button id="reset-all">Reset All</button></li>
      </ul>
    </section>

    <section id="task-form" class="hidden">
      <form action="">
        <input type="text" name="task" id="newTask">
        <button type="submit"><i class="fa fa-plus"></i></button>
      </form>
    </section>
    </div>

    <section class="tasks">
      <ol class="task-list">
        {{#each tasks}}
          <li class="task {{#if this.checked}}completed{{/if}}" data-taskId="{{this._id}}">
            <div class="checkbox">
              <input type="checkbox" id="{{this._id}}" checked="{{#if this.checked}}checked{{/if}}">
              <label for="{{this._id}}"></label>
            </div>
            <div class="task-name">
              <h5>{{this.task}}</h5>
            </div>
            <div class="task-controls">
              <div class="delete-task">
                <i class="fa fa-times"></i>
              </div>
            </div>
          </li>
        {{/each}}
      </ol>
    </section>

  </div>
</template>
