<template name="dailyReadings">
  <div id="daily-readings" class="page-container">
    <section class="reading-select">
      <select id="readingSelect">
        <option value="justForToday">Just For Today</option>
        <option value="dailyReflections" selected="{{#if default}}selected{{/if}}">Daily Reflections</option>
        <option value="twentyFourHours">Twenty-Four Hours a Day</option>
        <option value="asBillSeesIt">As Bill Sees It</option>
        <option value="walkInDryPlaces">Walk In Dry Places</option>
        <option value="keepItSimple">Keep It Simple</option>
        <option value="newBeginning">Each Day a New Beginning</option>
        <option value="bigBook">Big Book of Alcoholics Anonymous</option>
        <option value="twelveAndTwelve">Twelve Steps & Twelve Traditions</option>
        <option value="fatherLeos">Father Leo's Daily Meditation</option>
        <option value="dailyInspiration">Daily Inspiration</option>
        <option value="dayAtATime">A Day At A Time</option>
        <option value="journeyToTheHeart">Journey to the Heart</option>
        <option value="todaysGift">Today's Gift</option>
        <option value="languageOfLettingGo">The Language of Letting Go</option>
      </select>
    </section>

    <section id="reading-section">
      <h2 class="display-date">
        <a href="#" id="shareReading">
            <i class="fa fa-share-alt"></i>
        </a>
        <time>{{dateString}}</time>
      </h2>

      <div class="current-reading">
        {{#if currentReading.title}}
            <h3 class="reading-title">{{currentReading.title}}</h3>
        {{/if}}
        {{{currentReading.content}}}
      </div>

    </section>

    {{#if copyright.bookName}}
    <section id="reading-copyright">
      <p>From the book {{copyright.bookName}} {{copyright.copyright}} </p>
      <div class="purchase-link"><a href="{{copyright.link}}" target="_blank"><img src="https://images-na.ssl-images-amazon.com/images/G/01/associates/remote-buy-box/buy5._V192207739_.gif" alt=""/></a></div>
    </section>
    {{/if}}

  </div>
</template>