<template name="help">
  <div id="help" class="page-container">

    <section class="help-section">
      <div class="flex-container">
        <h2>Are you still having a tough time staying clean and sober?</h2>
        <p>We've all been there before. Sometimes all we need is a little extra help to get us on the path towards long term recovery.</p>
        <div class="button-container">
          <a class="get-help" href="#get-help">Click for help</a>
        </div>
      </div>
    </section>

    <section class="help-section">
      <div class="flex-container">
        <h2>It's time for a change.</h2>
        <p>You don't have to do this alone. Let one of our addiction specialists simplify the process by connecting you with the care that best fits <strong>your individual situation.</strong></p>
        <div class="button-container">
          <a class="get-help" href="#get-help">Click for help</a>
        </div>
      </div>
    </section>

    <section id="get-help">
      <div class="support-person">
        <img src="https://d6gyptuog2clr.cloudfront.net/customer_service.jpg" alt="">
        <h2>An addiction specialist is currently <span class="available">online</span> and <span class="available">available</span> to speak with you.</h2>
      </div>
      <div class="contact-area">
        <a href="tel:9548260058" class="click-to-call">Click to call <br><span class="fw-normal">1-800-491-3991</span></a>
        <h3 class="or">or</h3>
        <div class="submit-number">
            <div class="input-group">
              <label for="userPhone">Enter your phone number</label>
              <div class="input">
                <input type="text" id="userPhone" placeholder="(999) 000-0000">
                <button type="submit">Call Me</button>
              </div>
              <p>Someone who has been where you are before will call you to discuss your options within 5 minutes.</p>
            </div>
        </div>
      </div>
    </section>

  </div>
</template>