
<template name="user">

    {{#if user}}
        <h1>welcome to {{username}}'s profile</h1>
        <br>
        <h3>state: {{presenceOf user.username}}</h3>
        <br>
        <div>user since: {{user.createdAt}}</div>
        <h6>serenity: {{user.serenity}}</h6>
        <div>TODO: other data</div>

        <br>
        <h5>followed by: {{user.followersCount}}</h5>
        <h5>follows: {{user.followsCount}}</h5>
        <br>

        {{#if isCurrentUser}}
            <br>
            <h5> enter new status: </h5>
            <input type="text" class="newStatus">
            <br>
        {{/if}}
        
        <br>
        {{#each statusList}}
            <div>{{this.status}}</div>
            <small> | posted: {{relativeTime this.timestamp}} | serenity: {{this.serenity}} |</small>

            {{#if currentUserSerenityList this._id}}
                <button class="serenityDownBtn" data-statusId="{{this._id}}"> serenity- </button>                
            {{else}}
                <button class="serenityUpBtn" data-statusId="{{this._id}}"> serenity+ </button>
            {{/if}}

            <br><br>
        {{/each}}

        <br><br>

        <a href="/messages/{{username}}"><button>message me!</button></a>

        {{#if currentUserFollows username}}
            <button class="unfollowBtn">unfollow me!</button>
        {{else}}
            <button class="followBtn">follow me!</button>
        {{/if}}

    {{else}}
        <h1>{{username}} does not exist</h1>
    {{/if}}

</template>
