// Typography
$sans-serif: $helvetica;
$serif: $georgia;
$base-font-family: "AzoSans", Arial, sans-serif;
$header-font-family: "AzoSans", Arial, sans-serif;
$brand-font: 'Lobster Two', cursive;

// Sizes
$base-font-size: 1em;
$base-line-height: $base-font-size * 1.5;
$unitless-line-height: $base-line-height / ($base-line-height * 0 + 1); // Strip units from line-height: https://developer.mozilla.org/en-US/docs/Web/CSS/line-height#Prefer_unitless_numbers_for_line-height_values
$header-line-height: $base-font-size * 1.25;
$base-border-radius: em(3);

// Colors
$brand-darker: #B94100;
$brand-dark: #E85608;
$brand-color: #FA7C38;
$brand-light: #FF9963;
$brand-blue: #123865;
$secondary-blue: #2c5999;
$light-blue: #f3f6f9;


// messages
$bubble-blue: #2095FE;
$bubble-grey: #E5E4E9;

$green: #009A31;
$blue: #477DCA;
$dark-gray: #333;
$medium-gray: #999;
$light-gray: #DDD;
$light-red: #FBE3E4;
$light-yellow: #FFF6BF;
$light-green: #E6EFC2;

// Background Color
$base-background-color: white;

// Font Colors
$base-font-color: $dark-gray;
$base-accent-color: $blue;

// Link Colors
$base-link-color: $base-accent-color;
$hover-link-color: darken($base-accent-color, 15);
$base-button-color: $base-link-color;
$hover-button-color: $hover-link-color;

// Border color
$base-border-color: $light-gray;

// Flash Colors
$alert-color: $light-yellow;
$error-color: #ff0033;
$notice-color: $light-yellow;
$success-color: #009600;

// Forms
$form-border-color: $base-border-color;
$form-border-color-hover: darken($base-border-color, 10);
$form-border-color-focus: $blue;
$form-border-radius: 0;
$form-box-shadow: inset 0 0 0 rgba(0,0,0,0.06);
$form-box-shadow-focus: $form-box-shadow, 0 0 5px rgba(darken($form-border-color-focus, 5), 0.7);
$form-font-size: $base-font-size;
$form-font-family: $base-font-family;
