.badge-container {
  position: relative;

  .badge {
    display: inline-block;
    position: absolute;
    top: 0;
    right: 0;
    font-size: em(14);
    font-weight: bold;
    padding: em(6);
    line-height: 1;
    border-radius: em(2);
    color: #ffffff;
  }
}