<template name="createProfile">
  <div id="create-profile" class="page-container">
    <h1>Create profile</h1>

    <section id="step-one">
      <h2>Choose your username</h2>
      <form action="">
        <input type="text" name="username">
        <button class="submit">Done</button>
      </form>
    </section>
    <section id="step-two">
      <form action="">
        <h2>Upload your profile picture</h2>

        <ul class="actions">
          <li><button class="skip">Skip</button></li>
          <li><button class="submit">Done</button></li>
        </ul>
      </form>
    </section>
  </div>
</template>