<template name="forgotten">
  <div id="forgotten-page">
    <div class="flex-container">
      <h1 class="logo">recoverize <span class="version">2.0</span></h1>

      <div class="intro-message">
        <p>Enter your email address below and you will be emailed a link to create a new password for your account.</p>
      </div>

      <form id="forgotten-form" action="">
        <div class="response"></div>
        <input type="text" id="email" name="email" placeholder="Email address">
        <button class="btn-primary">Reset password</button>
      </form>

      <div class="footer-links">
        <a class="go-back" href="/signin">Go back to the sign in page</a>
      </div>
    </div>
  </div>
</template>