<template name="join">
  <div id="join-page">
    <div class="flex-container">
      <h1 class="logo">recoverize <span class="version">2.0</span></h1>
      <div class="intro-message">
        <p>The feeling of having shared in a common peril is one element in the powerful cement which binds us.</p>
      </div>

      <form>
        <div class="input-group">
          <input type="email" name="email" placeholder="Email" />
        </div>

        <div class="input-group">
          <input type="password" name="password" placeholder="Password" />
        </div>

        <div class="input-group">
          <input type="password" name="confirm" placeholder="Confirm Password" />
        </div>

        <div class="input-group">
          <input type="checkbox" name="optin" checked>
          <label class="optin" for="optin">Recieve emails from recoverize</label>
        </div>

        <div class="response"></div>

        <button type="submit" class="btn-primary">Join Now</button>
      </form>

      <a href="{{pathFor 'signin'}}" class="link-auth-alt">Have an account? Sign in</a>
    </div>
  </div>
</template>