<template name="reset">
    <div id="reset-page">
      <div class="flex-container">
        <h1 class="logo">recoverize <span class="version">2.0</span></h1>

        <div class="intro-message">
          <p>Create your new password.</p>
        </div>

        <form id="reset-form" action="">
          <div class="response"></div>
          <input type="password" id="password" name="password" placeholder="New Password">
          <input type="password" id="verifypw" name="verifypw" placeholder="Verify Password">
          <button class="btn-primary">Update Password</button>
        </form>

      </div>
    </div>
</template>