<template name="signin">
  <div id="login-page">
    <div class="flex-container">
      <h1 class="logo">recoverize <span class="version">2.0</span></h1>

      <div class="intro-message">
        <p>Connect with {{userCount}} members worldwide on a journery of recovery</p>
      </div>

      <form>
        <div class="input-group">
          <input type="email" name="email" placeholder="Email" />
        </div>

        <div class="input-group">
          <input type="password" name="password" placeholder="Password" />
        </div>

        <div class="response"></div>

        <button type="submit" class="btn-primary">Sign in</button>
      </form>

      <div class="login-bottom">
        <ul class="social-logins">
          <li id="facebook-login"><img src="/images/facebook_signin.jpg" alt=""/></li>
          <li id="twitter-login"><img src="/images/twitter_signin.jpg" alt=""/></li>
        </ul>
        <a href="{{pathFor 'join'}}" class="link-auth-alt">Need an account? Join Now.</a>
      </div>
    </div>
  </div>


</template>