<template name="signin">
  <div id="login-page">
    <div class="flex-container">
      <h1 class="logo">recoverize <span class="version">2.0</span></h1>

      <div class="intro-message">
        <p>Connect with {{userCount}} members worldwide on a journery of recovery</p>
      </div>

      <form id="sign-in-form">
        <div class="input-group">
          <input type="email" name="email" placeholder="Email" />
        </div>

        <div class="input-group">
          <input type="password" name="password" placeholder="Password" />
        </div>

        <div class="response"></div>

        <div class="button-group">
          <button type="submit" class="btn-primary" id="sign-in">Log in</button>
          <a class="reset-password" href="/forgotten">Forgot your password?</a>
        </div>
      </form>

      <div class="login-bottom">
        <a href="{{pathFor 'join'}}" class="link-auth-alt">Membership is free. Click here!</a>
        <ul class="social-logins">
          <li id="facebook-login"><img src="/images/facebook_signin.jpg" alt=""/></li>
          <li id="twitter-login"><img src="/images/twitter_signin.jpg" alt=""/></li>
        </ul>
      </div>
    </div>
  </div>


</template>