
.notification-overlay {
  @include display(flex);
  @include align-items(center);
  @include justify-content(center);
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background: rgba(50, 50, 50, .9);
  min-height: 60px;
  color: white;
  z-index: -5;
  opacity: 0;
  @include transition(ease 700ms all);

  &.active {
    z-index: 999;
    opacity: 1;
  }

  a {
    color: white;
    font-weight: bold;
    text-decoration: underline;
  }
}