@import 'neat-helpers'; // or '../neat/neat-helpers' when not in Rails

// Neat Overrides
// $column: 90px;
// $gutter: 30px;
// $grid-columns: 12;
// $max-width: em(1088);

// Neat Breakpoints
$mobile-screen: em(480);
$tablet-screen: em(768);
$full-screen: em(980);
$large-screen: em(1200);

$mobile-screen-down: new-breakpoint(max-width $mobile-screen);
$tablet-screen-down: new-breakpoint(max-width $tablet-screen);
$full-screen-down: new-breakpoint(max-width $full-screen);
$large-screen-down: new-breakpoint(max-width $large-screen);

$tablet-screen-up: new-breakpoint(min-width $tablet-screen);