<template name="accountSettings">

  <div id="account-settings" class="page-container">

    <section class="page-head">
      <h2 class="title"><i class="fa fa-cog"></i> Account Management</h2>
    </section>

    <ul class="top-links">
      <li class="view-profile"><a href="#"><img src="{{getImgURL profilePic}}" alt="{{user.username}}"/></a></li>
      <li class="update-profile">
        <h2><a href="/users/{{user.username}}">@{{user.username}}</a></h2>
        <a class="button" href="/profile">Update Profile</a>
      </li>
    </ul>

    <form action="">
      <section class="account-settings">
        <ul class="fields">
          <li>
            <label for="username">Username <small class="desc">Cannot be changed</small></label>
            <input type="text" name="username" value="{{user.username}}" disabled>
          </li>
          <li>
            <label for="email">Email</label>
            <input type="text" name="email" value="{{user.emails.[0].address}}">
          </li>
          <li>
            <label for="oldpw">Old Password <small class="desc">For password change or account deletion</small></label>
            <input type="password" name="oldpw">
          </li>
          <li class="split">
            <label for="newpw">New Password</label>
            <input type="password" name="newpw">
          </li>
          <li class="split">
            <label for="confirmpw">Confirm Password</label>
            <input type="password" name="confirmpw">
          </li>
        </ul>
        <div class="response"></div>
        <button id="save-changes" disabled="{{#unless profileUpdated}}disabled{{/unless}}">Save Changes</button>
      </section>
    </form>
  </div>
</template>