<template name="message">

  <section class="page-head">
    <a href="/messages" class="messages-link">
      <i class="fa fa-angle-left"></i>
      <span class="envelope-btn"><i class="fa fa-envelope-o"></i></span>
      <span class="messages-text">Messages</span>
    </a>
    <!-- @todo change this to other users profile -->
    <h2 class="title message-with"><a href="/users/{{username}}"><img src="{{profilePic}}" alt="{{username}}">{{username}}</a></h2>
    <div class="user-connection {{presenceOf username}}"></div>
  </section>

  <section class="messaging">
    <div class="conversation">
        {{#if olderPages}}
          <button class="older-messages">load older messages</button>
        {{/if}}
        {{#each messages}}
        <div class="message {{messageDirection this.username}}">
          <div class="bubble">
            {{linkMentions this.message}}
            <time>{{relativeTime this.timestamp}}</time>
          </div>
        </div>
        {{/each}}
    </div>

    <div class="message-input">
        <input type="text" name="message" autocomplete="off">
        <button id="send-message">Send</button>
    </div>

  </section>



</template>