
<template name="message">

    <h1>message with <a href="/users/{{username}}" class="userLink">{{username}}</a></h1>

    <ul class="messages-list">
        {{#each messages}}
            <li>
                <a href="/users/{{this.from}}" class="userLink">{{this.from}}</a>
                <span>: {{linkMentions this.message}}</span>
                <small> {{this.timestamp}} </small> 
            </li>
        {{/each}}
    </ul>

    <div class="input-area">
        <input type="text">
        <button>send</button>
    </div>

</template>