<template name="more">

  <div id="settings-page" class="page-container">
    <ul class="settings-nav">
      <li>
        <a href="/account">
          <div class="link-container">
            <div class="icon">
              <i class="fa fa-cogs"></i>
            </div>
            <div class="link-name">
              Account Settings
            </div>
            <div class="right-icon">
              <i class="fa fa-angle-right fa-2x"></i>
            </div>
          </div>
        </a>
      </li>
      <li>
        <a href="/profile">
          <div class="link-container">
            <div class="icon">
              <i class="fa fa-user"></i>
            </div>
            <div class="link-name">
              Profile Settings
            </div>
            <div class="right-icon">
              <i class="fa fa-angle-right fa-2x"></i>
            </div>
          </div>
        </a>
      </li>
      <!--<li>-->
        <!--<a href="/bugs">-->
          <!--<div class="link-container">-->
            <!--<div class="icon">-->
              <!--<i class="fa fa-bug"></i>-->
            <!--</div>-->
            <!--<div class="link-name">-->
              <!--Report a Bug-->
            <!--</div>-->
            <!--<div class="right-icon">-->
              <!--<i class="fa fa-angle-right fa-2x"></i>-->
            <!--</div>-->
          <!--</div>-->
        <!--</a>-->
      <!--</li>-->
      <!--<li>-->
        <!--<a href="/bugs">-->
          <!--<div class="link-container">-->
            <!--<div class="icon">-->
              <!--<i class="fa fa-flag"></i>-->
            <!--</div>-->
            <!--<div class="link-name">-->
              <!--Report a User-->
            <!--</div>-->
            <!--<div class="right-icon">-->
              <!--<i class="fa fa-angle-right fa-2x"></i>-->
            <!--</div>-->
          <!--</div>-->
        <!--</a>-->
      <!--</li>-->
      <!--<li>-->
        <!--<a href="/invite">-->
          <!--<div class="link-container">-->
            <!--<div class="icon">-->
              <!--<i class="fa fa-smile-o"></i>-->
            <!--</div>-->
            <!--<div class="link-name">-->
              <!--Invite a Friend +10-->
            <!--</div>-->
            <!--<div class="right-icon">-->
              <!--<i class="fa fa-angle-right fa-2x"></i>-->
            <!--</div>-->
          <!--</div>-->
        <!--</a>-->
      <!--</li>-->
      <!--<li>-->
        <!--<a href="/faqs">-->
          <!--<div class="link-container">-->
            <!--<div class="icon">-->
              <!--<i class="fa fa-question"></i>-->
            <!--</div>-->
            <!--<div class="link-name">-->
              <!--Frequently Asked Questions-->
            <!--</div>-->
            <!--<div class="right-icon">-->
              <!--<i class="fa fa-angle-right fa-2x"></i>-->
            <!--</div>-->
          <!--</div>-->
        <!--</a>-->
      <!--</li>-->
      <!--<li class="help-button">-->
        <!--<a href="/help">-->
          <!--<div class="link-container">-->
            <!--<div class="icon">-->
              <!--<i class="fa fa-exclamation"></i>-->
            <!--</div>-->
            <!--<div class="link-name">-->
              <!--Get Help Stopping-->
            <!--</div>-->
            <!--<div class="right-icon">-->
              <!--<i class="fa fa-mobile fa-2x"></i>-->
            <!--</div>-->
          <!--</div>-->
        <!--</a>-->
      <!--</li>-->
    </ul>
  </div>

</template>