
<template name="notifications">
  <div class="notifications-page {{#unless notifications}}no-notifications{{/unless}}">
      {{#if notifications}}
          <div class="new-notifications">
            <span class="notification-amount">{{notifications.count}} notifications</span>
            <button id="clear-notifications" class="btn">Clear All</button>
          </div>
          {{#each notifications}}
              <div class="notification">
                <a href="{{this.path}}" class="userLink">
                  <h4>{{this.type}}ed  by {{this.from}}</h4>
                  <time class="small">{{relativeTime this.timestamp}}</time>
                </a>
              </div>
          {{/each}}
      {{else}}
        <h1>No new notifications!</h1>
      {{/if}}
  </div>
</template>
