<template name="settings">

  <div class="page-container">
    <ul class="settings-nav">
      <li>
        <a href="/account">
          <div class="link-container">
            <div class="icon">
              <i class="fa fa-cogs"></i>
            </div>
            <div class="link-name">
              Account Settings
            </div>
          </div>
        </a>
      </li>
      <li>
        <a href="/profile">
          <div class="link-container">
            <div class="icon">
              <i class="fa fa-user"></i>
            </div>
          </div>
          <div class="link-name">
            Profile Settings
          </div>
        </a>
      </li>
      <li>
        <a href="/bugs">
          <div class="link-container">
            <div class="icon">
              <i class="fa fa-bug"></i>
            </div>
            <div class="link-name">
              Report a Bug
            </div>
          </div>
        </a>
      </li>
      <li>
        <a href="/invite">
          <div class="link-container">
            <div class="icon">
              <i class="fa fa-smile-o"></i>
            </div>
            <div class="link-name">
              Invite a Friend
            </div>
            <div class="extras">
              +2
            </div>
          </div>
        </a>
      </li>
    </ul>
  </div>

</template>