<template name="serenityPoints">
  <div id="serenity-points-page" class="page-container style-two">
    <div class="content-container">
      <section class="points-head content-head row">
        <div class="left icon-container">
          <i class="fa fa-arrow-circle-o-up"></i>
        </div>
        <div class="right head-content">
          <h2 class="title">Serenity Points</h2>

          <div class="page-description">
            <p>Help us build a positive recovery atmosphere by being active in the recoverize community</p>
          </div>
        </div>
      </section>
      <section class="gradient-divide"></section>
      <section class="points-container">
        <div class="inner-contain">
          <div class="intro-content">
            <p>There are serveral ways to earn serenity points on recoverize. Below you will find a list of different interactions that increase your serenity points, along with how many points each one gives. For now serenity points are just a way for other members to identify active members in the community. In the future they will be redeemable for recoverize swag!</p>
          </div>
        </div>
        <ul class="points-list">
          <li>
            <div class="count col">
              <div class="bg">
                <span class="count-num"><small>+</small>1</span>
              </div>
            </div>
            <div class="action col">Someone <i class="fa fa-heart"></i>'s one of your shares</div>
          </li>
          <li>
            <div class="count col">
              <div class="bg">
                <span class="count-num"><small>+</small>5</span>
              </div>
            </div>
            <div class="action col">Greet a new member from the dashboard</div>
          </li>
          <li>
            <div class="count col">
              <div class="bg">
                <span class="count-num"><small>+</small>2</span>
              </div>
            </div>
            <div class="action col">Congratulate an anniversarry from the dashboard</div>
          </li>
        </ul>
      </section>
    </div>
  </div>
</template>