/*
Syntax error: Invalid property: "Backtrace:" (no value).
        on line 4 of /Users/Dane/Projects/recoverize/recoverize-app/client/stylesheets/css/main.css

1: /*
2: Errno::ENOENT: No such file or directory - /Users/Dane/Projects/recoverize/recoverize-app/client/stylesheets/css/main.css
3: 
4: Backtrace:
5: /Library/Ruby/Gems/2.0.0/gems/sass-3.3.10/lib/sass/plugin/compiler.rb:369:in `read'
6: /Library/Ruby/Gems/2.0.0/gems/sass-3.3.10/lib/sass/plugin/compiler.rb:369:in `update_stylesheet'
7: /Library/Ruby/Gems/2.0.0/gems/sass-3.3.10/lib/sass/plugin/compiler.rb:189:in `block in update_stylesheets'
8: /Library/Ruby/Gems/2.0.0/gems/sass-3.3.10/lib/sass/plugin/compiler.rb:186:in `each'
9: /Library/Ruby/Gems/2.0.0/gems/sass-3.3.10/lib/sass/plugin/compiler.rb:186:in `update_stylesheets'

Backtrace:
/Users/Dane/Projects/recoverize/recoverize-app/client/stylesheets/css/main.css:4
/Library/Ruby/Gems/2.0.0/gems/sass-3.3.10/lib/sass/engine.rb:737:in `parse_property'
/Library/Ruby/Gems/2.0.0/gems/sass-3.3.10/lib/sass/engine.rb:699:in `parse_property_or_rule'
/Library/Ruby/Gems/2.0.0/gems/sass-3.3.10/lib/sass/engine.rb:665:in `parse_line'
/Library/Ruby/Gems/2.0.0/gems/sass-3.3.10/lib/sass/engine.rb:543:in `build_tree'
/Library/Ruby/Gems/2.0.0/gems/sass-3.3.10/lib/sass/engine.rb:562:in `block in append_children'
/Library/Ruby/Gems/2.0.0/gems/sass-3.3.10/lib/sass/engine.rb:561:in `each'
/Library/Ruby/Gems/2.0.0/gems/sass-3.3.10/lib/sass/engine.rb:561:in `append_children'
/Library/Ruby/Gems/2.0.0/gems/sass-3.3.10/lib/sass/engine.rb:412:in `_to_tree'
/Library/Ruby/Gems/2.0.0/gems/sass-3.3.10/lib/sass/engine.rb:274:in `render'
/Library/Ruby/Gems/2.0.0/gems/sass-3.3.10/lib/sass/plugin/compiler.rb:378:in `update_stylesheet'
/Library/Ruby/Gems/2.0.0/gems/sass-3.3.10/lib/sass/plugin/compiler.rb:189:in `block in update_stylesheets'
/Library/Ruby/Gems/2.0.0/gems/sass-3.3.10/lib/sass/plugin/compiler.rb:186:in `each'
/Library/Ruby/Gems/2.0.0/gems/sass-3.3.10/lib/sass/plugin/compiler.rb:186:in `update_stylesheets'
/Library/Ruby/Gems/2.0.0/gems/sass-3.3.10/lib/sass/plugin.rb:82:in `update_stylesheets'
/Library/Ruby/Gems/2.0.0/gems/sass-3.3.10/lib/sass/exec.rb:489:in `watch_or_update'
/Library/Ruby/Gems/2.0.0/gems/sass-3.3.10/lib/sass/exec.rb:346:in `process_result'
/Library/Ruby/Gems/2.0.0/gems/sass-3.3.10/lib/sass/exec.rb:43:in `parse'
/Library/Ruby/Gems/2.0.0/gems/sass-3.3.10/lib/sass/exec.rb:22:in `parse!'
/Library/Ruby/Gems/2.0.0/gems/sass-3.3.10/bin/scss:13:in `<top (required)>'
/usr/bin/scss:23:in `load'
/usr/bin/scss:23:in `<main>'
*/
body:before {
  white-space: pre;
  font-family: monospace;
  content: "Syntax error: Invalid property: \"Backtrace:\" (no value).\A         on line 4 of /Users/Dane/Projects/recoverize/recoverize-app/client/stylesheets/css/main.css\A \A 1: /*\A 2: Errno::ENOENT: No such file or directory - /Users/Dane/Projects/recoverize/recoverize-app/client/stylesheets/css/main.css\A 3: \A 4: Backtrace:\A 5: /Library/Ruby/Gems/2.0.0/gems/sass-3.3.10/lib/sass/plugin/compiler.rb:369:in `read'\A 6: /Library/Ruby/Gems/2.0.0/gems/sass-3.3.10/lib/sass/plugin/compiler.rb:369:in `update_stylesheet'\A 7: /Library/Ruby/Gems/2.0.0/gems/sass-3.3.10/lib/sass/plugin/compiler.rb:189:in `block in update_stylesheets'\A 8: /Library/Ruby/Gems/2.0.0/gems/sass-3.3.10/lib/sass/plugin/compiler.rb:186:in `each'\A 9: /Library/Ruby/Gems/2.0.0/gems/sass-3.3.10/lib/sass/plugin/compiler.rb:186:in `update_stylesheets'"; }
